{% extends "layout.html" %} {% block content %} {% include "includes/v2/nav.html" %}

{% include "includes/v2/caseHeader.html" %}


<main id="content" role="main">
  <div class="main-content">
    <form class="form" action="queue" method="post">
      <div class="grid-row">
        <div class="column-full">


          <div class="panel alt warning mt1" role="group" id="clearHandover" aria-labelledby="" tabindex="-1" style="display:none">


            <p class="bold icon" style="display:inline-block">
              <i class="icon icon-important">
                <span class="visually-hidden">Warning</span>
              </i>Are you sure you want to clear this handover
            </p>
            <br />
            <a href="queueClear" class="button">Yes, clear handover</a>
            <a href="#" class="button text cancel">Cancel</a>
          </div>

          <div class="panel warning mt1" role="group" id="reallocateHandover" aria-labelledby="" tabindex="-1" style="display:none">


            <p class="bold icon" style="display:inline-block">
              <i class="icon icon-important">
                <span class="visually-hidden">Warning</span>
              </i>Are you sure you want to Reallocate this handover from
              <span class="bold">JSA to IS</span>

            </p>
            <br />
            <a href="queueClear" class="button">Yes, reallocate handover</a>
            <a href="#" class="button text cancel">Cancel</a>
          </div>

        </div>
      </div>
      <!--<h1 class="heading-large">Update</h1>-->
      {% include "includes/v2/statusBar.html" %}
     <!-- <div class="grid-row">
          <div class="column-one-third mt1">
              <div class="panel alt default">
                  {% if data['scenario'] === 'agentEditEscalate' %}
                  <h3>Time remaining</h3>
                  <p class="bold  mt0">Expired
                   
                  </p>
                  {% elif data[ 'scenario'] === 'allocatorEdit'%}
                  <h3>Time remaining</h3>
                  <p class="bold  mt0">30mins
                    
                    <span class="badge badge-danger">ESCALATED</span>
                  </p>
                  {% else %}
                  <h3>Time remaining</h3>
                  <p class="bold  mt0">1 hour 59 mins
                  </p>
                  {% endif%}
                </div>
          </div>
          <div class="column-one-third mt1">
              <div class="panel alt default">
                  {% if data['callbackRequired'] === 'Yes' or data[ 'scenario']==='agentEditEscalate' or data[ 'scenario']==='agentChangeStatus'
                  or data[ 'scenario']==='customerUpdate' or data[ 'scenario']==='allocatorEdit' %}
          
                    <h3>Call back required</h3>
                    <p class="bold mt0">Yes</p>
                 
                  {% else %}
            
                    <h3>Call back required</h3>
                    <p class="bold mt0">No</p>
                 
                  {% endif %} 
                </div>
            </div>
            <div class="column-one-third mt1">
                <div class="panel alt default">
                    {% if data['callbackRequired']==='Yes' and data['callBackStatus'] !== 'First call failed - engaged' or data[
                    'scenario']==='agentEditEscalate' and data['callBackStatus'] !== 'First call failed - engaged' or data[ 'scenario']==='agentChangeStatus'
                    and data['callBackStatus'] !== 'First call failed - engaged' or data[ 'scenario']==='customerUpdate'and data['callBackStatus']
                    !== 'First call failed - engaged' or data[ 'scenario']==='allocatorEdit'and data['callBackStatus'] !== 'First
                    call failed - engaged' %}
                   
                      <h3>Status</h3>
                      <p class="bold mt0">First call pending</p>
                    
                    {% elif data['callbackRequired']==='Yes' and data['callBackStatus']==='First call failed - engaged' or data['callBackStatus']==='First
                    call failed - engaged' and data[ 'scenario']==='agentEditEscalate' or data[ 'scenario']==='agentChangeStatus'
                    and data['callBackStatus'] === 'First call failed - engaged' %}
                  
                      <h3>Status</h3>
                      <p class="bold mt0">Second call pending</p>
                    
                    {% else %}
                
                      <h3>Status</h3>
                      <p class="bold mt0">In progress</p>
                 
                    {% endif %}
                  </div>
            </div>
      </div> -->
      <div class="grid-row">
        <div class="column-two-thirds">
          <div class="js-tabs tabs">
            <!-- JS will add .tabs class -->
            <ul class="list list-bullet">

              <li>
                <a class="tabs__link" href="#info">Update handover</a>
              </li>
              <li>
                <a class="tabs__link" href="#reAllocate">Change type or Reallocate</a>
              </li>
            </ul>

            <!-- Tab 1 -->
            <div id="info" class="tab-content">

              {% if data['scenario'] === 'agentEditEscalate' %}



              <div class="panel panel-border mt1">

                <div class="form-group">
                  <fieldset>

                    <legend>
                      <h3 class="heading-medium">Escalate handover</h3>
                    </legend>
                    <div class="multiple-choice">
                      <input id="radio-inline-2" type="radio" name="escalatedHandover" value="escalate" {{ 'checked' if data[
                        'escalatedHandover']==='escalate' else ''}}>
                      <label for="radio-1">Yes</label>
                    </div>

                  </fieldset>
                </div>
              </div>

              {% endif %}
              <h2 class="heading-small">Description</h2>
              <!--<p class="lede">{{ data['description'] }}</p>-->
              {% if data['scenario'] === 'agentClear' %}
              <p>Change of address</p>
              {% else %}
              <p>Change of address, customer is moving from sheffield to London</p>
              {% endif %}
              <div class="form-group">
              <label class="heading-small" for="handover-note">Add a note</label>

              <textarea class="form-control form-control-3-4" id="handover-note" name="handover-note" rows="6">{{ data['handover-note'] }}</textarea>
              </div>
              <h2 class="heading-small">Attachments</h2>
              <ul class="list">
                  <li><a href="/public/images/sort_both.png">Change of address form <span class="font-secondary">56KB</span></a></li>
              </ul>

              <h2 class="heading-small">Upload document</h2>
              <form class="form" action="payment-date" method="post">
                  
                          <div class="form-group">
                            <label class="form-label visuallyhidden" for="file-input">
                              Upload file
                            </label>
                            <input type="file" name="uploaded-file" id="selectedFile" style="display: none;" class="js-upload">
                            <a class="button button-secondary" onclick="document.getElementById('selectedFile').click();">Choose file</a>
                          </div>
                  
                          <p class="js-upload_filename" style="display: none"></p>
                  
                          <div class="panel panel-border-wide">
                            <p>File size limit: 4MB</p>
                            <p>File types accepted: PDF, CSV, Word, XML, HTML</p>
                          </div>
                  
                        
                  
                        </form>
              <div class="form-group">

                  <fieldset>
                      
                <legend>
                  <h1 class="form-label-bold">Set status</h1>
                </legend>

                {% if data['callbackRequired'] === 'Yes' or data[ 'scenario']==='agentEditEscalate' or data[ 'scenario']==='agentEditEscalate'
                or data[ 'scenario']==='agentChangeStatus' or data[ 'scenario']==='customerUpdate' %} {% if data.callBackStatus
                === 'First call failed - engaged' %}
                 
                {% include "includes/v2/setStatusSecondCall.html" %}
              
                {% else %}


                {% include "includes/v2/setStatusFirstCall.html" %}

                {% endif %} {% else %}


       

                  <div class="multiple-choice">
                    <input id="radio-inline-2" type="radio" name="callbackRequired" value="No" {{ 'checked' if data[ 'callbackRequired']==='No'
                      else 'checked'}}>
                    <label for="radio-1">No call back required</label>
                  </div>
                  <div class="multiple-choice" data-target="callbackRequired">
                    <input id="radio-inline-1" type="radio" name="callbackRequired" value="Yes" {{ 'checked' if data[ 'callbackRequired']==='Yes'
                      else ''}}>
                    <label for="radio-2">Call back required</label>
                  </div>
                  <div class="panel panel-border-narrow js-hidden" id="callbackRequired">
                      <div class="panel default alt">
                          <p class="bold">First call pending</p>
                        </div>
                    {% include "includes/v2/setStatusFirstCall.html" %}
                  </div>
                  <p class="form-block">or</p>
                  <div class="multiple-choice">
                    <input id="radio-3" type="radio" name="callbackRequired" value="cleared" {{ 'checked' if data[ 'callbackRequired']==='cleared'
                      else ''}}>
                    <label for="radio-3">Completed clear handover</label>
                  </div>

                
                  
             
              

                {% endif %}
              </fieldset>


              </div>

              <div class="form-group">
                <fieldset class="inline">
              
                  <legend>
                    <h1 class="form-label-bold">
                      Was this an inappropriate handover?
                    </h1>
                  </legend>
              
                  <div class="multiple-choice">
                    <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
                    <label for="radio-inline-1">Yes</label>
                  </div>
                  <div class="multiple-choice">
                    <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No" checked>
                    <label for="radio-inline-2">No</label>
                  </div>
              
                </fieldset>
              </div>

              {% if data['scenario'] === 'agentClear' %}
              <a href="#" id="clear" class="button">Save and update</a>

              {% elif data['scenario'] === 'agentEditEscalate' %}
              <a href="customerEscalate" id="clear" class="button">Save and update</a>
              {% else %}
              <input type="submit" class="button" value="Save and update"> {% endif %}
            </div>

            <!-- Tab 2 -->
            <div id="reAllocate" class="tab-content">
              <div class="form-group">
                <label class="form-label-bold mt1" for="handover-note-reallocate">Add a note</label>
                <textarea class="form-control form-control-3-4" id="handover-note-reallocate" name="handover-note-reallocate" rows="6">{{ data['handover-note-realocate'] }}</textarea>
              </div>
              {% if data['scenario'] === 'allocatorEdit' %} {% include "includes/v2/reallocateAgent.html" %} {% endif %}
              <div class="form-group">
                {% include "includes/v2/selectBenefit.html" %}
                <div class="panel panel-border-narrow">
                  {% include "includes/v2/selectHandoverType.html" %}
                  <div class="panel panel-border-narrow"> {% include "includes/v2/selectHandoverReason.html" %}</div>
                </div>
              </div>
              <div class="form-group">
                <fieldset>

                    <h1 class="heading-small">
                      Recieving office type
                    </h1>
                  </legend>

                  <div class="multiple-choice">
                    <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes" checked="checked">
                    <label for="radio-inline-1">Benefit office</label>
                  </div>
                  <div class="multiple-choice">
                    <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
                    <label for="radio-inline-2">Jobcentre</label>
                  </div>
                </fieldset>
              </div>      
       
              {% if data['scenario'] === 'agentReallocate' %}
              <a href="#" id="reallocate" class="button">Save and update</a>
              {% else %}
              <input type="submit" class="button" value="Save and update"> {% endif %}

            </div>







          </div>
          {% if data['scenario'] === 'customerUpdate'%} {% else %}
          <a href="queue" class="link-back">Back to queue</a>
          {% endif %}
        </div>


        <div class="column-one-third">


          <h2 class="heading-medium mt-0">History</h2>
          <div class="timeline">

            {% if data['callBackStatus'] %}
            <span class="line"></span>
            <div class="timeline__event">
              <h3 class="heading-small">Call back</h3>
              <div class="panel panel-border-wide alert-warning">
                <p>First call back Failed - engaged</p>
              </div>
              <p class="timeline_datetime">{% include "includes/v2/date.html" %} at 10:35</p>
              <p class="timeline_datetime font-xsmall">Calumn Dalton, Hyde Benefit Service Centre</p>

            </div>
            {% endif %} {% if data['handover-note'] %}


            <span class="line"></span>
            <div class="timeline__event">
              <h3 class="heading-small">Note</h3>
              <div class="panel panel-border-wide alert-default">
                <p>{{ data['handover-note'] }}</p>
              </div>
              <p class="timeline_datetime">{% include "includes/v2/date.html" %} at 10:30</p>
              <p class="timeline_datetime font-xsmall">Calumn Dalton, Hyde Benefit Service Centre</p>
            </div>

            {% endif %} 
      


   

            <span class="line"></span>
            <div class="timeline__event">
              <h3 class="heading-small">Handover created</h3>
              <div class="panel panel-border-wide alert-success">
                <p>IS / Maintenance / Change of address</p>
              </div>
              <p class="timeline_datetime">{% include "includes/v2/date.html" %} at 9:33</p>
              <p class="font-xsmall timeline_datetime">Bobby Brown, Hyde Benefit Service Centre</p>
            </div>
          





            <div style="clear:both"></div>


          </div>
        </div>
    </form>
    </div>
</main>


{% endblock %}