{% extends "layout.html" %}


{% block brand %}
{% include "includes/v2/brandChange.html" %}
{% endblock %}

{% block content %}
{% include "includes/allocator-queue-flow/allocator-navV5.html" %}
<main id="content" role="main">
    <div class="main-content">
  
        {% if data['handoverStatus'] %} 
        <div class="grid-row">
            <div class="column-full">
                <div class="panel panel-border-wide alert-success mt1">
                    <h2 class="heading-medium">Successfully amended handover for Christine Dixon</h2>
      
                     
                </div>
            </div>
        </div>
        {% endif %}

        {% if data['clearHandover'] %} 
        <div class="grid-row">
            <div class="column-full">
                <div class="panel panel-border-wide alert-success mt1">
                    <h2 class="heading-medium">Successfully cleared handover for Christine Dixon</h2>
      
                     
                </div>
            </div>
        </div>
        {% endif %}
       
            <h1 class="heading-large">
            <span class="heading-secondary">Handovers queue</span>
              Callum Dalton</h1>
           
        <div class="grid-row">
            <div class="column-full">
             <form class="form" action="edit" method="post">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"><span>Time left to clear</span></th>
                            <th scope="col"><span>Name & NINO</span></th>
                            <th scope="col"><span>Date/time raised</span></th>
                            <th scope="col"><span>Benefit type</span></th>
                            <th scope="col"><span>Handover type</span></th>
                            <th scope="col"><span>Status</span></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>

                        {% if data.secondCallBackStatus %}

                            <tr class="odd"><td valign="top" colspan="8" class="dataTables_empty">No data available in table</td></tr>

                            {% elif data.clearHandover %}
                            <tr class="odd"><td valign="top" colspan="8" class="dataTables_empty">No data available in table</td></tr>
                        {% else %}
            <tr>
                    <td><p class="bold">1hours 59mins</p></td>
                <td><p class="font-small">Christine Dixon<br><span class="hint">ZZ123456A</span></p></td>  
                <td><p>02/03/2018<br><span class="hint">8:06am</span></p></td>
             
                    {% if data['benefit'] %}   
                    <td><p>{{ data['benefit'] }}</p></td>
                    {% else %}
                    <td><p>JSA</p></td>
                    {% endif %}
            
                    {% if data['handoverType'] %}
                        <td><p>{{ data['handoverType'] }}</p></td>
                    {% else %}
                        <td><p>Appointment confirmation</p></td>
                    {% endif %}
                    {% if data['callbackRequired']==='Yes' and data['callBackStatus'] !== 'First call failed - engaged' %}
                    <td><p>First call pending</p></td>
                    {% elif data['callbackRequired']==='Yes' and data['callBackStatus']==='First call failed - engaged' %}
                    <td><p>Second call pending</p></td>
                    {% else %}
                    <td><p>In progress</p></td>
                    {% endif %}
                    <td><p><a href="/agent/edit">Update</a></p></td>
                </tr>
                {% endif %}
                   </tbody>
                </table>
               </form>
            </div>
        </div>
        <div class="grid-row">
            <div class="column-full" data-target="fetchWorkItem">
              <br>
              
               <a href="#" class="button append" >Fetch next work item</a>
            </div>
          </div>
</main>

<script src="/public/javascripts/vendor/jquery-1.11.3.js"></script>
<script src="/public/javascripts/vendor/datatables.min.js"></script>

<script>
    $('table').DataTable({
        paging: false,
        info: false,
        filter: false,
        order: [[ 5, "asc" ]]
    })


</script>

{% endblock %}
