{% extends "layout.html" %}


{% block brand %}
{% include "includes/v2/brandChange.html" %}
{% endblock %}


{% block content %}
{% include "includes/v2/navV5.html" %}
<main id="content" role="main">
    <form class="form" action="createCustomer" method="post">
    <div class="main-content">
        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-large">
                    Create Customer Record
                    <span class="heading-secondary">{{ data['nino'] }}</span>
                </h1>
                <form class="form" action="customer" method="post">
                    <div class="form-group">
                        <label for="firstName">
                            <span class="form-label-bold">First name</span>
                        </label>
                        <input type="text" class="form-control" id="firstName" name="firstName"  value="{{ data['firstName'] }}">
                    </div>
                    <div class="form-group">
                        <label for="lastName">
                            <span class="form-label-bold">Last name</span>
                        </label>
                        <input type="text" class="form-control" id="lastName" name="lastName" value="{{ data['lastName'] }}">
                    
                    </div>

                    <div class="form-group form-date" id="birth-date-group">
                        <legend class="form-label-bold">Date of birth</legend>
                        <p class="form-hint">For example, 01 09 2017</p>
                        <div class="form-group form-group-day">
                            <label for="birthDay">Day</label>
                            <input type="text" class="form-control" id="birthDay" name="birthDay" pattern="[0-9]*" value="{{ data['birthDay'] }}">
                        </div>
                        <div class="form-group form-group-month">
                            <label for="birthMonth">Month</label>
                            <input type="text" class="form-control" id="birthMonth" name="birthMonth" pattern="[0-9]*" value="{{ data['birthMonth'] }}">
                        </div>
                        <div class="form-group form-group-year">
                            <label for="birthYear">Year</label>
                            <input type="text" class="form-control" id="birthYear" name="birthYear" pattern="[0-9]*" value="{{ data['birthYear'] }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="postcode">
                            <span class="form-label-bold">Postcode</span>
                        </label>
                        <input type="text" class="form-control form-control-1-4" id="postcode" name="postcode" pattern="[A-Za-z]{1,2}[0-9Rr][0-9A-Za-z]? [0-9][ABD-HJLNP-UW-Zabd-hjlnp-uw-z]{2}"  value="{{ data['postcode'] }}">
                        <a href="#" class="button button-secondary postcode">Find Jobcentre</a>
                        <div class="panel panel-border-narrow jobcentreReveal">
                            <div class="form-group">
                                <legend class="form-label-bold">Choose your jobcentre</legend>
                                <fieldset class="">
                                    <div class="multiple-choice">
                                        <input id="radio-2" type="radio" name="chooseJobcentre" value="jobCentreOne" {{ 'checked' if data[
                                            'chooseJobcentre']==='jobCentreOne' else ''}}>
                                        <label for="radio-2">Leeds Eastgate
                                            </label>
                                    </div>
                                    <div class="multiple-choice">
                                        <input id="radio-3" type="radio" name="chooseJobcentre" value="jobCentreTwo" {{ 'checked' if data[
                                            'callBackStatus']==='jobCentreTwo' else ''}}>
                                        <label for="radio-3">
                                            Leeds Park Place
                                           </label>
                                    </div>
                                
                                    <div class="multiple-choice">
                                        <input id="radio-4" type="radio" name="chooseJobcentre" value="jobCentreThree" {{ 'checked' if data[
                                            'callBackStatus']==='jobCentreThree' else ''}}>
                                        <label for="radio-4">
                                            Leeds Southern House</label>
                                    </div>
                                    <p class="form-block">or</p>
                                    <div class="multiple-choice" data-target="jobcentreTypeahead">
                                            <input id="radio-10" type="radio" name="chooseJobcentre" value="">
                                            <label for="radio-10">Choose alternative jobcentre</label>
                                        </div>
                                    
                                    
                                        <div class="panel panel-border-narrow js-hidden" id="jobcentreTypeahead" aria-hidden="true">
                                            {% include "includes/v2/jobcentreTypeahead.html" %}
                                        </div>
                                    
                                </fieldset>
                            </div>
        
                        </select>

    
                        </div>
                    </div>


                    <div class="form-group">
                            <label for="prefContNum">
                                    <span class="form-label-bold">Preferred contact number</span>
                                </label>
                     
                            <input type="text" class="form-control" id="prefContNum" name="prefContNum" pattern="[0-9 ]*"  value="{{ data['prefContNum'] }}">
                        
                    </div>

                    <div class="form-group">
                       
                        <fieldset class="inline">
                                <legend class="form-label-bold">Welsh speaker ?</legend>
                            <div class="multiple-choice">
                                <input id="welshSpeaker_yes" type="radio" name="welsh-speaker"  value="Yes" {{ 'checked' if data[ 'welsh-speaker']==='yes'
                                else ''}}>
                                <label for="welshSpeaker_yes">Yes</label>
                            </div>
                            <div class="multiple-choice">
                                    <input id="welshSpeaker_no" type="radio" name="welsh-speaker"  value="No" {{ 'checked' if data[ 'welsh-speaker']==='yes'
                                    else 'checked'}}>
                                    <label for="welshSpeaker_no">No</label>
                                </div>
                        </fieldset>
                    </div>

                    <div class="form-group">
                        
                        <fieldset class="inline">
                                <legend class="form-label-bold">Translator required ?</legend>
                            <div class="multiple-choice" data-target="language-gp">
                                <input id="translator-yes" type="radio" name="translator"  value="Yes"  {{ 'checked' if data[ 'translator']==='yes'
                                else ''}}>
                                <label for="translator-yes">Yes</label>
                            </div>
                            <div class="multiple-choice">
                                    <input id="translator-no" type="radio" name="translator" value="No" checked>
                                    <label for="translator-no">No</label>
                                </div>
                            
                            
                                <div class="panel panel-border-narrow js-hidden" id="language-gp" aria-hidden="true">
                                    <label for="language">
                                        <span class="form-label-bold">Language</span>
                                    </label>
                                    <input class="form-control" id="language" name="language" type="text"  value="{{ data['language'] }}">
                                </div>
                            
                        </fieldset>
                    </div>

                    <div class="form-group">
                       
                        <fieldset class="inline">
                                <legend class="form-label-bold">Does the customer have a representative ?</legend>
                            <div class="multiple-choice" data-target="approved-rep-group">
                                <input id="approved-rep-yes" type="radio" name="approved-rep" value="Yes">
                                <label for="approved-rep-yes">Yes</label>
                            </div>
                            <div class="multiple-choice">
                                    <input id="approved-rep-no" type="radio" name="approved-rep"  value="No" checked>
                                    <label for="approved-rep-no">No</label>
                                </div>
                        </fieldset>
                    </div>

                                  <div class="form-group">
                                        <input type="submit" class="button" value="Create customer record">
                                </div>
                                </form>

                          
            </div>
        </div>
    </div>
  </form>
</main>
<script type="text/javascript" src="/public/javascripts/vendor/jquery-1.11.3.js"></script>
<script type="text/javascript" src="/public/javascripts/vendor/accessible-autocomplete.min.js"></script>
<script>
  accessibleAutocomplete.enhanceSelectElement({
    selectElement: document.querySelector('#jobcentres')
  })
</script>
<script>
    $(".jobcentreReveal").hide();
      $(".postcode").click(function (e) {
        e.preventDefault();
            $(".jobcentreReveal").show();
      });
</script>

{% endblock %}