{% extends "layout.html" %}


{% block brand %}
{% include "includes/v2/brandChange.html" %}
{% endblock %}

{% block content %}
{% include "includes/v2/nav.html" %}
{% include "includes/v2/caseHeader.html" %}
<main id="content" role="main">
    <div class="main-content">
        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-large">
                    Create
                </h1>
                <form class="form" action="create" method="post">
                <div class="form-group">
                <label class="heading-small" for="textarea">
                        Description
                </label>
                      <textarea class="form-control form-control-3-4" id="description" name="description" rows="5">{{ data['description'] }}</textarea>
                 </div>
                 <div class="form-group">
                    {% include "includes/v2/selectBenefit.html" %}
                    <div class="panel panel-border-narrow" id="subBen">
                       {% include "includes/v2/selectSubBenefit.html" %}
                    <div class="panel panel-border-narrow " id="subType">
                      {% include "includes/v2/selectHandoverType.html" %}
                      <div class="panel panel-border-narrow" id="subReason"> {% include "includes/v2/selectHandoverReason.html" %}</div>
                    </div>
                  </div>
                   <div class="panel panel-border-narrow " id="type">
                     {% include "includes/v2/selectHandoverType.html" %}
                     <div class="panel panel-border-narrow" id="reason"> {% include "includes/v2/selectHandoverReason.html" %}</div>
                   </div>
                 </div>
                 
                
                            <div class="form-group">
                                    <fieldset class="inline">
                                
                                      <legend>
                                        <h1 class="heading-small">
                                             Callback required ?
                                        </h1>
                                      </legend>
                                
                                      <div class="multiple-choice">
                                        <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
                                        <label for="radio-inline-1">Yes</label>
                                      </div>
                                      <div class="multiple-choice">
                                        <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
                                        <label for="radio-inline-2">No</label>
                                      </div>
                                
                                    </fieldset>
                                  </div>
                                  <div class="form-group">
                                      <fieldset class="inline">
                      
                                          <h1 class="heading-small">
                                            Recieving office type
                                          </h1>
                                        </legend>
                      
                                        <div class="multiple-choice">
                                          <input id="radio-inline-3" type="radio" name="radio-inline-group-2" value="Benefit" checked="checked">
                                          <label for="radio-inline-3">Benefit office</label>
                                        </div>
                                        <div class="multiple-choice">
                                          <input id="radio-inline-4" type="radio" name="radio-inline-group-2" value="Jobcentre">
                                          <label for="radio-inline-4">Jobcentre</label>
                                        </div>
                                      </fieldset>
                                    </div>  
                                  <div class="form-group">
                                        <input type="submit" class="button" value="Create">
                                </div>
                                {% if data[ 'scenario']==='createCustomer'%}
                                <div class="multiple-choice" style="display:none">
                                    <input id="radio-inline-5" type="radio" name="scenario" value="createHand" {{ 'checked' if data[ 'scenario']==='createHand'
                                    else ''}} checked>
                                      
                                    <label for="radio-4">hidden radio one</label>
                                  </div>
                                 {% endif %} 
                                 {% if data[ 'scenario']==='customerUpdate'%}
                                 <div class="multiple-choice" style="display:none">
                                     <input id="radio-inline-5" type="radio" name="scenario" value="createHand2" {{ 'checked' if data[ 'scenario']==='createHand2'
                                     else ''}} checked>
                                       
                                     <label for="radio-4">hidden radio one</label>
                                   </div>
                                  {% endif %} 
                                    </form>
                                    </div>
                                </main>
                                
                                </form>

                          
            </div>
        </div>
    </div>
</main>
<script src="/public/javascripts/vendor/jquery-1.11.3.js"></script>
<script>


  $(function(){
    $("#type").hide();
    $("#reason").hide();
    $("#subBen").hide();
    $("#subType").hide();
    $("#subReason").hide();

    // We can use the change(); function to watch the state of the select box and run some conditional logic every time it's changes to hide or show the second select box

  $('#benefit').change(function(){
    if( $("#SF").is(':selected') ){
      $("#subBen").show();
      $("#type").hide();
    }else{
   
   $("#type").show();
   $("#subBen").hide();
   $("#reason").hide();
   $("#subType").hide();
   $("#subReason").hide();
    }
  });

  $("#type").change(function(){
            $("#reason").val('select').show();
    }); 


    $("#subBenefit").change(function(){
            $("#subType").show();
            $("#subReason").hide();
    });   
    $("#handoverType").change(function(){
            $("#subReason").show();
    });   

});
</script>
{% endblock %}