{% extends "layout.html" %}
{% block content %}
{% include "includes/v2/nav.html" %}
<main id="content" role="main">
    <div class="main-content">
  
   
            {% if data['scenario'] === 'agentClear' %}
            <div class="grid-row">
                    <div class="column-full">
                        <div class="panel panel-border-wide alert-success mt1 mb0">
                            <p>Successfully cleared handover for Christine Dixon</p>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="grid-row">
                        <div class="column-full">
                            <div class="panel panel-border-wide alert-success mt1 mb0">
                                <p>Successfully reallocated handover for Christine Dixon</p>
                            </div>
                        </div>
                    </div>
            {% endif %}
       
            <h1 class="heading-large">
            <span class="heading-secondary">Handovers queue</span>
              Callum Dalton</h1>
           
        <div class="grid-row">
            <div class="column-full">
             <form class="form" action="edit" method="post">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"><span>Time left to clear</span></th>
                            <th scope="col"><span>Name & NINO</span></th>
                            <th scope="col"><span>Date/time raised</span></th>
                            <th scope="col"><span>Benefit type</span></th>
                            <th scope="col"><span>Handover type</span></th>
                            <th scope="col"><span>Status</span></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>     

                <tr>
                    <td><span class="bold">2 hours 10mins</span></td>  
                    <td>Ian Jackson<br><span class="hint">AA345678B</span></td>  
                        <td>26/03/2018<br><span class="hint">11:06am</span></td>
                            <td>JSA</td>
                                <td>Ongoing appeal</td>
                            <td>In progress</td>
                            <td><a href="/agent/edit">Update</a></td>
                        </tr>

                            
                    
                   </tbody>
                </table>
               </form>
            </div>
        </div>
        <div class="grid-row">
            <div class="column-full" data-target="fetchWorkItem">
              <br>
              
               <a href="#" class="button append" >Fetch next work item</a>
            </div>
          </div>
</main>

<script src="/public/javascripts/vendor/jquery-1.11.3.js"></script>
<script src="/public/javascripts/vendor/datatables.min.js"></script>

<script>
    $('table').DataTable({
        paging: false,
        info: false,
        filter: false,
        order: [[ 5, "dsc" ]]
    })


</script>

{% endblock %}
