{% if errorsLength === 0 or errors === null %}
    <div></div>
{% else %}
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                <h2 class="heading-medium error-summary-heading" id="error-summary-heading"><p>Check the content of fields entered in this form</p></h2>
                <ul class="error-summary-list">
                    {% for error in errors %}
                    <li id="error-field-list">
                        <a href="#{{error.field}}" id="error-field-{{error.field}}" name="errorField{{error.field}}" class="bold small gds-red">{{error.message}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}
