<div class="column-full summary-nav-wrapper">
    <ul>

        <li class="{% if currentHandoversPage === 'customers' %}selected{% endif %}">
        <a id="edit_record" href="/customer/find" class="menu-item ">Customer</a>
        </li>

        <li class="{% if currentClaimantPage === 'queues' %}selected{% endif %}">
        <a id="claim_active" href="/queue/view?agentId=40001004" class="menu-item">Queue</a>
        </li>

        <li class="{% if currentClaimantPage === 'teams' %}selected{% endif %}">
        <a id="selection_tool" href="/team_menu.html" class="menu-item">Team</a>
        </li>

        <li

    </ul>
</div>