<section class="key-details-bar" role="contentinfo" aria-label="Key details">


    <dl class="key-details-bar__key-details">
        <div class="key-details-bar__top-block">

            <dt class="visually-hidden">Name:</dt>
            <dd class="key-details-bar__name">
                {% if data['scenario'] === 'agentEditEscalate' or data['scenario'] === 'customerUpdate'%} Christine Dixon {% elseif data['scenario']
                === 'createCustomer' or data['scenario'] === 'createHand'%} {{ data['firstName'] }} {{ data['lastName'] }}
                {% else %} Christine Dixon {% endif %}

            </dd>

            <dt class="visually-hidden">National Insurance number:</dt>
            <dd class="key-details-bar__nino">
                {% if data['scenario'] === 'agentEditEscalate' or data['scenario'] === 'customerUpdate'%} AA345678B {% elseif data['scenario']
                === 'createCustomer' or data['scenario'] === 'createHand'%} {{ data['nino'] }} {% else %} ZZ123456A {% endif
                %}


            </dd>

            <dt class="visually-hidden">Appointee status:</dt>
            <dd class="key-details-bar__status">Customer has Appointee</dd>


        </div>

        <div class="key-details-bar__bottom-block">
            <h2 class="heading-medium" style="margin:15px 0">Customer details</h2>
            <dt>Number:</dt>
            <dd>
                    {% if data['scenario'] === 'createCustomer' or data['scenario'] === 'createHand'%}

                     {{ data['prefContNum'] }} 
                   
                    {% else %}
                    07854234567         
                    {% endif %} 
            </dd>

            <dt>DOB:</dt>
            <dd>
                    {% if data['scenario'] === 'createCustomer' or data['scenario'] === 'createHand'%}
                    {{ data['birthDay'] }}/{{ data['birthMonth'] }}/ {{ data['birthYear'] }}
                    {% else %}
                    16/12/1960
                    {% endif %}

            </dd>

            <dt>Postcode:</dt>
            <dd>
                    {% if data['scenario'] === 'createCustomer' or data['scenario'] === 'createHand'%}
                    {{ data['postcode'] }}
                    {% elseif data['scenario'] === 'IS'%}
                    SW9 0QQ
                    {% else %}
                    BB10 1AA
                    {% endif %}
            </dd>

            <dt>Jobcentre:</dt>
            <dd>
                    {% if data['scenario'] === 'IS' %}
                    Stockwell
                    {% else %}
                    Burnley
                    {% endif %}
            </dd>
            
                    {% if data['translator'] === 'Yes' %}
                    <dt>Translator reqiured:</dt>
            <dd>
                    {{ data['language'] }}
                </dd>
                    {% endif %} 

                    {% if data['welsh-speaker'] === 'Yes' %}
            <dd>
                    Welsh speaker
            </dd>
            {% endif %}
            
        </div>
        <a href="/v5/createCustomer" class="">Edit customer details</a>
    </dl>
</section>



