   
<div class="case-header-container alt">

        <div class="case-header">
            {% if data['scenario'] === 'agentEditEscalate' or data['scenario'] === 'customerUpdate'%}
            <h1 class="heading-large mt0 mb0">
                Ian Jackson
                <!--<span class="heading-secondary">AA345678B</span> -->
            </h1>
            {% elseif data['scenario'] === 'createCustomer'%}
            <h1 class="heading-large mt0 mb0">
                {{ data['firstName'] }} {{ data['lastName'] }}
                {% if data['approved-rep']=== 'Yes'%}
                <br>
                <span class="badge badge-light">Approved representative</span>
                {% endif %}
            </h1>
          
            {% else %}
            <h1 class="heading-large mt0 mb0">
                Christine Dixon
                <!--<span class="heading-secondary">AA345678B</span> -->
            </h1>
           
            {% endif %}
            <a href="createCustomer" class="font-xsmall">Update customer details</a>
        </div>
    
        <div class="case-body">
            <ul>
            
                <li>
                    <p>  Nino:
                            <span class="">
                            {% if data['scenario'] === 'agentEditEscalate' or data['scenario'] === 'customerUpdate'%}
                      AA345678B 
                      {% elseif data['scenario'] === 'createCustomer'%}
                      {{ data['nino'] }} 
                    {% else %}
                    ZZ123456A
                    {% endif %}
                    </span>
                  </p>
                </li>
              
                {% if data['scenario'] === 'createCustomer'%}
                <li>
    
                    <p>
                        Number:
                        <span class="">
                        {{ data['prefContNum'] }}
                      {% else %}
                      07854234567
                      </span>

                    </p>
                    


                </li>
                {% endif %}
                {% if data['scenario'] === 'createCustomer'%}
                <li>
                    <p >
                        Date of birth:
                        <span class="">
                            {{ data['birthDay'] }}/{{ data['birthMonth'] }}/ {{ data['birthYear'] }}
                          {% else %}
                          16/12/1960
                         </span>
                     
                    </p>
                </li>
                {% endif %}
                {% if data['scenario'] === 'createCustomer'%}
                <li>
                       <p>  Postcode:<span class="">
                        {{ data['postcode'] }}
                      {% else %}
                      S17 3JX
                      </span>
                  </p>
                </li>
                {% endif %}
                <li>
                        <p> Jobcentre: <span class="">Sheffield South West</span>
                   </p>
                 </li>
                 {% if data['translator'] === 'Yes' %}
                 <li>
                        <p>
                                Tanslator required: <span class="">{{ data['language'] }} </span>
                                
                   </p>
                 </li>
                 {% endif %}

                 {% if data['welsh-speaker'] === 'Yes' %}
                 <li>
                        <p>
                            Welsh speaker
                                
                   </p>
                 </li>
                 {% endif %}
                
            </ul>
            
        </div>
        {% if data['scenario'] === 'allocatorEdit' %}
        <div class="case-footer">
            <h3>Agent:</h3>
            <p class="bold  mt0">Callum Dalton</p>
        </div>
        {% endif %}
    </div>
    