
        <div class="app-c-option-select">
            <fieldset>
                <legend>
                    <h3 class="bold">Select Agents</h3>
                </legend>
                <div role="group" aria-labelledby="option-select-title-agents" class="options-container" style="max-height: none; height: 199px;">
                    <div class="js-auto-height-inner">
                        <div class="multiple-choice">
                            <input id="Grant Allan" name="agents" type="checkbox" value="Grant Allan">
                            <label for="Grant Allan">Grant Allan</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="Nick Dale" name="agents" type="checkbox" value="Nick Dale">
                            <label for="Nick Dale">Nick Dale</label>
                        </div>
                        <div class="multiple-choice">
                            <input id="Rod Miley" name="agents" type="checkbox" value="Rod Miley">
                            <label for="Rod Miley">Rod Miley</label>
                        </div>
                        <div class="multiple-choice">
                                <input id="Miranda Wallace" name="agents" type="checkbox" value="Miranda Wallace">
                                <label for="Miranda Wallace">Miranda Wallace</label>
                        </div>

                        <div class="multiple-choice">
                                <input id="Sherri Warner" name="agents" type="checkbox" value="Sherri Warner">
                                <label for="Sherri Warner">Sherri Warner</label>
                        </div>

                        <div class="multiple-choice">
                                <input id="Laurence	Mckenzie" name="agents" type="checkbox" value="Laurence	Mckenzie">
                                <label for="Laurence Mckenzie">Laurence	Mckenzie</label>
                        </div>

                        <div class="multiple-choice">
                                <input id="Leona Pratt" name="agents" type="checkbox" value="Leona Pratt">
                                <label for="Leona Pratt">Leona Pratt</label>
                        </div>

                        <div class="multiple-choice">
                                <input id="Sandra Ford" name="agents" type="checkbox" value="Sandra Ford">
                                <label for="Sandra Ford">Sandra Ford</label>
                        </div>

                        <div class="multiple-choice">
                                <input id="Michelle	Anderson" name="agents" type="checkbox" value="Michelle	Anderson">
                                <label for="Michelle Anderson">Michelle	Anderson</label>
                        </div>

                        <div class="multiple-choice">
                                <input id="Roderick	Schneider" name="agents" type="checkbox" value="Roderick	Schneider">
                                <label for="Roderick Schneider">Roderick	Schneider</label>
                        </div>


                        <div class="multiple-choice">
                                <input id="Mabel Morris" name="agents" type="checkbox" value="Mabel Morris">
                                <label for="Mabel Morris">Mabel Morris</label>
                        </div>

                    </div>
                    </div>
            </fieldset>
            </div>
     
       
            <button name="button" type="submit" class="button button-secondary">Add Agents</button>

     
