<section class="key-details-bar" role="contentinfo" aria-label="Key details">
   

    <dl class="key-details-bar__key-details">
      <div class="key-details-bar__top-block">

        <dt class="visually-hidden">Name:</dt>
        <dd class="key-details-bar__name">Christine Dixon</dd>
  
        <dt class="visually-hidden">National Insurance number:</dt>
        <dd class="key-details-bar__nino">AA1234567B</dd>

        <dt class="visually-hidden">Appointee status:</dt>
        <dd class="key-details-bar__status">Customer has Appointee</dd>

 
      </div>
  
      <div class="key-details-bar__bottom-block">
          <h2 class="heading-medium" style="margin:15px 0">Customer details</h2>   
        <dt>Number:</dt>
        <dd>07854234567</dd>
  
        <dt>DOB:</dt>
        <dd>16/12/1960</dd>
  
        <dt>Postcode:</dt>
        <dd>BB10 1AA</dd>

        <dt>Jobcentre:</dt>
        <dd>Burnley</dd>
      </div>
      <a href="createCustomer" >Edit customer details</a>
    </dl>
  </section>