<div class="nav-horizontal">
    <div class="main-nav-wrapper">
        <ul class="main-nav">
            <li>
                <a class="menu-item" href="/v5/find" id="customer_find">Search for customer</a>
            </li>
            <li>
                <a class="menu-item" href="/v5/queue">My Queue</a>


            </li>
            {% if data['scenario'] === 'allocatorEdit' %}
            <li>

                <a class="menu-item" href="/v5/allocator-queue">Office queue</a>

            </li>
            <li>

                    <a class="menu-item" href="teams/team-list">Teams</a>
    
                </li>
            {% endif %}
            
        </ul>
    </div>
</div>