
        <label class="form-label-bold" for="select-box">Select a handover reason</label>
        <select class="select form-control form-control-1-2" id="handoverReason" name="handoverReason">{{ data['handoverReason'] }}
          <option value="">Select</option>
          <option value="Checking receipt of post or documents" {{ 'selected' if  data.handoverReason === 'Checking receipt of post or documents' else 'selected'}}>Checking receipt of post or documents</option>
          <option value="Claim termination" {{ 'selected' if  data.handoverReason === 'Claim termination' else ''}}>Claim termination</option>
          <option value="General query" {{ 'selected' if  data.handoverReason === 'General query' else ''}}>General query</option>
          <option value="Joint claim" {{ 'selected' if  data.handoverReason === 'Joint claim' else ''}}>Joint claim</option>
          <option value="Missing direct payment" {{ 'selected' if  data.handoverReason === 'Missing direct payment' else ''}}>Missing direct payment</option>
          <option value="Payment query" {{ 'selected' if  data.handoverReason === 'Payment query' else ''}}>Payment query</option>
        </select>
