
    <div class="multiple-choice">
        <input id="radio-2" type="radio" name="secondCallBackStatus" value="Second call failed - engaged" {{ 'checked' if data[
            'secondCallBackStatus']==='Second call failed - engaged' else ''}}>
        <label for="radio-2">Call failed - engaged</label>
    </div>
    <div class="multiple-choice">
        <input id="radio-3" type="radio" name="secondCallBackStatus" value="Second call failed - number unobtainable" {{
            'checked' if data[ 'secondCallBackStatus']==='Second call failed - number unobtainable' else ''}}>
        <label for="radio-3">Call failed - number unobtainable</label>
    </div>

    <div class="multiple-choice">
        <input id="radio-4" type="radio" name="secondCallBackStatus" value="Second call failed - not answered" {{ 'checked' if data[
            'secondCallBackStatus']==='Second call failed - not answered' else ''}}>
        <label for="radio-4">Call failed - not answered</label>
    </div>
    <p class="form-block">or</p>

    <div class="multiple-choice">
        <input id="radio-1" type="radio" name="callbackRequired" value="cleared" {{ 'checked' if data[
            'callbackRequired']==='cleared' else ''}}>
        <label for="radio-1">Call successful clomplete handover</label>
    </div>

