{% if data['scenario'] === 'caseHeader' or  data['scenario'] === 'caseHeader2' %}


      <div class="status mt1 mb0">
            {% else %}    
            <div class="status">
            {% endif %}
            <!--{% if data['edit']==='editHand' %}
            <div class="status__header">
              <h3>Agent:</h3>
              <p class="bold  mt0">Callum Dalton</p>
            </div>
            {% endif %} -->
            <div class="status__body">
              <div class="col">
                {% if data['scenario'] === 'agentEditEscalate' %}
                <h3>Time remaining</h3>
                <p class="bold  mt0">Expired
                  <!-- <span class="badge badge-danger">ESCALATED</span> -->
                </p>
                {% elif data[ 'scenario'] === 'allocatorEdit'%}
                <h3>Time remaining</h3>
                <p class="bold  mt0">30mins
                  <br />
                  <span class="badge badge-danger">ESCALATED</span>
                </p>
                {% else %}
                <h3>Time remaining</h3>
                <p class="bold  mt0">59 mins
                  <!-- <span class="badge badge-danger">ESCALATED</span> -->
                </p>
                {% endif%}
              </div>
              {% if data['callbackRequired'] === 'Yes' or data['secondCallBackStatus']  %}
              <div class="col">
                <h3>Call back required</h3>
                <p class="bold mt0">Yes</p>
              </div>
            
      
              {% else %}
              <div class="col">
                <h3>Call back required</h3>
                <p class="bold mt0">No</p>
              </div>
              {% endif %} 

              {% if data[ 'callbackRequired']==='cleared' or data[ 'noCallbackRequired']==='cleared' %}
              <div class="col">
                <h3>Status</h3>
                <span class="badge badge-info">CLEARED</span>
              </div>
              {% elif data['secondCallBackStatus']  %}
              <div class="col">
                <h3>Status</h3>
                <p class="bold mt0">Third call pending</p>
              </div>
            
              {% elif data['callBackStatus']  %}
              <div class="col">
                <h3>Status</h3>
                <p class="bold mt0">Second call pending</p>
              </div>
              {% elif  data['callbackRequired']==="Yes"  %}
              <div class="col">
                <h3>Status</h3>
                <p class="bold mt0">First call pending</p>
              </div>
              {% else %}
              <div class="col">
                <h3>Status</h3>
                <p class="bold mt0">In progress</p>
              </div>
              {% endif %}
  
            </div>
          </div>