{% if data['scenario'] === 'caseHeader' or  data['scenario'] === 'caseHeader2' %}


      <div class="status mt1 mb0">
            {% else %}    
            <div class="status">
            {% endif %}
            <!--{% if data['edit']==='editHand' %}
            <div class="status__header">
              <h2>Agent:</h2>
              <p class="bold  mt0">Callum Dalton</p>
            </div>
            {% endif %} -->
            <div class="status__body">
              <div class="col">
                  {% if data[ 'escalatedHandover'] === 'escalate'%}
                  <h2>Time remaining</h2>
                  <p class="bold  mt0">59mins
                    <span class="badge badge-danger">ESCALATED</span>
                  </p>
                {% elif data['scenario'] === 'agentEditEscalate' %}
                <h2>Time remaining</h2>
                <p class="bold  mt0">Expired
                  <!-- <span class="badge badge-danger">ESCALATED</span> -->
                </p>
                {% elif data[ 'escalatedHandover'] === 'escalate'%}
                <h2>Time remaining</h2>
                <p class="bold  mt0">30mins
                  <br />
                  <span class="badge badge-danger">ESCALATED</span>
                </p>
                {% elif data[ 'scenario'] === 'allocatorEdit'%}
                <h2>Time remaining</h2>
                <p class="bold  mt0">30mins
                  <br />
                  <span class="badge badge-danger">ESCALATED</span>
                </p>
                {% else %}
                <h2>Time remaining</h2>
                <p class="bold  mt0">59 mins
                  <!-- <span class="badge badge-danger">ESCALATED</span> -->
                </p>
                {% endif%}
              </div>
              {% if data['callbackRequired'] === 'Yes' or data['secondCallBackStatus'] or data['scenario']==="customerUpdate" or data['scenario']==="ESA" or data['scenario']==="agentEditEscalate" %}
              <div class="col">
                <h2>Call back required</h2>
                <p class="bold mt0">Yes</p>
              </div>
            
      
              {% else %}
              <div class="col">
                <h2>Call back required</h2>
                <p class="bold mt0">No</p>
              </div>
              {% endif %} 

              {% if data[ 'callbackRequired']==='cleared' or data[ 'noCallbackRequired']==='cleared' %}
              <div class="col">
                <h2>Status</h2>
                <span class="badge badge-info">Completed</span>
              </div>
              {% elif data['secondCallBackStatus']  %}
              <div class="col">
                <h2>Status</h2>
                <p class="bold mt0">Third call pending</p>
              </div>
            
              {% elif data['callBackStatus']  %}
              <div class="col">
                <h2>Status</h2>
                <p class="bold mt0">Second call pending</p>
              </div>
              {% elif  data['callbackRequired']==="Yes" or data['scenario']==="customerUpdate" or data['scenario']==="ESA" or data['scenario']==="agentEditEscalate" %}
              <div class="col">
                <h2>Status</h2>
                <p class="bold mt0">First call pending</p>
              </div>
              {% else %}
              <div class="col">
                <h2>Status</h2>
                <p class="bold mt0">In progress</p>
              </div>
              {% endif %}
  
            </div>
          </div>