<div class="column-half">
    {% set errorFlag = 0 %}
    {% for error in errors %}
        {% if error.field === 'lastName' %}
            {% set errorFlag = 1 %}
        {% endif %}
    {% endfor %}
    {% if errorFlag === 1 %}
    <div class="form-group form-group-error">
        <label for="lastName" id="error-lastName">
            <span class="form-label-bold">Last name</span>
            <span class="error-message">Last name must be entered</span>
        </label>
        <input type="text" class="form-control form-control-error" id="lastName" name="lastName" value="{{ customer.lastName }}">
    </div>
    {% else %}
    <div class="form-group">
        <label for="lastName">
            <span class="form-label-bold">Last name</span>
        </label>
        <input type="text" class="form-control" id="lastName" name="lastName" value="{{ customer.lastName }}">
    </div>
    {% endif %}
</div>