{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">
    <div class="main-content">
        {% include "includes/handovers_summary_nav.html" %}
        {% include "includes/error-summary.html" %}
        {% include "includes/message-banner.html" %}
        <h1 class="heading-large">ESA Maintenance - Sheffield Jobcentre (Allocators View)</h1>
        <form action="/allocation/esa" method="POST" class="form">
        <div class="grid-row">
            <div class="column-full">
                <table>
                    <thead>
                    <tr>
                        <th scope="col"><span>NI number</span></th>
                        <th scope="col"><span>Name</span></th>
                        <th scope="col"><span>Date/time raised</span></th>
                        <th scope="col"><span>Agent</span></th>
                        <th scope="col"><span>Time left to clear</span></th>
                        <th scope="col"><span>Benefit type</span></th>
                        <th scope="col"><span>Handover type</span></th>
                        <th scope="col"><span>Handover Status</span></th>
                        <th scope="col"><span>Callback status</span></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>AB123123C</td>
                            <td>Justin Jones</td>
                            <td>05 February 2018 11:10</td>
                            <td>
                                <select class="select form-control" name="user-allocation-1" id=user-allocation-1">
                                    <option value="Not applicable">Not applicable</option>
                                    <option value="Tracey Evans">Tracey Evans</option>
                                    <option value="Janice Turnbull">Janice Turnbull</option>
                                    <option value="Peter Wright">Peter Wright</option>
                                    <option value="Don Anfill">Don Anfill</option>
                                </select>
                            </td>
                            <td>2 hrs 30 mins</td>
                            <td>ESA</td>
                            <td>Maintenance</td>
                            <td>Not allocated</td>
                            <td>Not applicable</td>
                            <td><a href="/allocation/esa">Update</a></td>
                        </tr>
                        <tr>
                            <td>BC345345D</td>
                            <td>David Dixon</td>
                            <td>04 February 2018 11:10</td>
                            <td>
                                <select class="select form-control" name="user-allocation-2" id=user-allocation-2">
                                    <option value="Not applicable">Not applicable</option>
                                    <option value="Tracey Evans">Tracey Evans</option>
                                    <option value="Janice Turnbull">Janice Turnbull</option>
                                    <option value="Peter Wright">Peter Wright</option>
                                    <option value="Don Anfill">Don Anfill</option>
                                </select>
                            </td>
                            <td>1 day 4 hrs 25 mins</td>
                            <td>ESA</td>
                            <td>Maintenance</td>
                            <td>Not allocated</td>
                            <td>Not applicable</td>
                            <td><a href="/allocation/esa">Update</a></td>
                        </tr>
                        <tr>
                            <td>AB123123C</td>
                            <td>Justin Jones</td>
                            <td>05 February 2018 11:10</td>
                            <td>Peter Wright</td>
                            <td>2 hrs 30 mins</td>
                            <td>ESA</td>
                            <td>Maintenance</td>
                            <td>Not allocated</td>
                            <td>Not applicable</td>
                            <td><a href="/allocation/esa">Update</a></td>
                        </tr>
                        <tr>
                            <td>AB123123C</td>
                            <td>Justin Jones</td>
                            <td>05 February 2018 11:10</td>
                            <td>
                                <select class="select form-control" name="user-allocation-3" id=user-allocation-3">
                                    <option value="Not applicable">Not applicable</option>
                                    <option value="Tracey Evans">Tracey Evans</option>
                                    <option value="Janice Turnbull">Janice Turnbull</option>
                                    <option value="Peter Wright">Peter Wright</option>
                                    <option value="Don Anfill">Don Anfill</option>
                                </select>
                            </td>
                            <td>2 hrs 30 mins</td>
                            <td>ESA</td>
                            <td>Maintenance</td>
                            <td>Not allocated</td>
                            <td>Not applicable</td>
                            <td><a href="/allocation/esa">Update</a></td>
                        </tr>
                        <tr>
                            <td>AB123123C</td>
                            <td>Justin Jones</td>
                            <td>05 February 2018 11:10</td>
                            <td>Tracey Evans</td>
                            <td>2 hrs 30 mins</td>
                            <td>ESA</td>
                            <td>Maintenance</td>
                            <td>Not allocated</td>
                            <td>Not applicable</td>
                            <td><a href="/allocation/esa">Update</a></td>
                        </tr>
                        <tr>
                            <td>AB123123C</td>
                            <td>Justin Jones</td>
                            <td>05 February 2018 11:10</td>
                            <td>Don Anfill</td>
                            <td>2 hrs 30 mins</td>
                            <td>ESA</td>
                            <td>Maintenance</td>
                            <td>Not allocated</td>
                            <td>Not applicable</td>
                            <td><a href="/allocation/esa">Update</a></td>
                        </tr>
                        <tr>
                            <td>AB123123C</td>
                            <td>Justin Jones</td>
                            <td>05 February 2018 11:10</td>
                            <td>
                                <select class="select form-control" name="user-allocation-4" id=user-allocation-4">
                                    <option value="Not applicable">Not applicable</option>
                                    <option value="Tracey Evans">Tracey Evans</option>
                                    <option value="Janice Turnbull">Janice Turnbull</option>
                                    <option value="Peter Wright">Peter Wright</option>
                                    <option value="Don Anfill">Don Anfill</option>
                                </select>
                            </td>
                            <td>2 hrs 30 mins</td>
                            <td>ESA</td>
                            <td>Maintenance</td>
                            <td>Not allocated</td>
                            <td>Not applicable</td>
                            <td><a href="/allocation/esa">Update</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <div class="grid-row">
            <div class="column-half">
                <div class="form-group">
                    <input type="submit" class="button" value="Submit">
                </div>
            </div>
        </div>
        <div class="grid-row">
            <div class="column-half">
                <div class="form-group">
                    <a href="/index">Back to index page</a>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="/public/javascripts/vendor/jquery-1.11.3.js"></script>

{% endblock %}
