

        <div class="form-group">
            <label class="form-label-bold">Select agent to allocate to handover</label>
            <select class="select form-control form-control-1-2" name="agent" id="agent">{{ data['agent'] }}
                <option value="">Select</option>
                <option value="40001001" selected="">Callum Dalton - 40001001</option>
                <option value="40001002">Ellie Fuller - 40001002</option>
                <option value="40001003">Grant Hopper - 40001003</option>
                <option value="40001004">Imogen Johnson - 40001004</option>
                <option value="40001007">Olive Potter - 40001007</option>
                <option value="40001008">Quentin Redruth - 40001008</option>
                <option value="40001009">Steven Tumnus - 40001009</option>
            </select>
        </div>