<div class="grid-row">
    <div class="column-half">
        <div class="form-group">
            <legend class="form-label-bold">Does the customer have an approved representative ?</legend>
            <fieldset class="inline">
                <div class="multiple-choice">
                    <input id="approved-rep-no" type="radio" name="approved-rep" value="No" {% if claimant.approvedRep === "No" or editOrCreate === 'create' %} checked="checked" {% endif %}>
                    <label for="approved-rep-no">No</label>
                </div>
                <div class="multiple-choice" data-target="approved-rep-group">
                    <input id="approved-rep-yes" type="radio" name="approved-rep" value="Yes" {% if claimant.approvedRep === "Yes" %} checked="checked" {% endif %}>
                    <label for="approved-rep-yes">Yes</label>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="column-half">
    </div>
</div>

<div class="grid-row js-hidden" id="approved-rep-group" >
    <div class="column-half">
        <div class="form-group">
            <legend class="form-label-bold">Approved representative name</legend>
            <div>
                <input type="text" class="form-control" id="rep-name" name="rep-name" value="{{ claimant.approvedRepName }}">
            </div>
        </div>
    </div>
    <div class="column-half">
        <div class="form-group">
            <legend class="form-label-bold">Approved representative contact details</legend>
            <p class="form-hint">Enter an email address or a telephone number</p>
            <div>
                <input type="text" class="form-control" id="rep-contact" name="rep-contact" value="{{ claimant.approvedRepContact }}">
            </div>
        </div>
    </div>
</div>