{% if editOrCreate === 'create' %}
    <div>
    </div>
{% else %}
    <div class="column-half">
        <legend class="form-label-bold">Agent progressing handover</legend>
        {% if handover.inQueueOfStaffId !== "" %}
            <p>{{ inQueueOfStaffDetails.firstName }} {{ inQueueOfStaffDetails.lastName }}</p>
        {% else %}
            <p>Not applicable</p>
        {% endif %}
    </div>
    {% if data.user.role == 1 %}
        <div class="column-half">
            <legend class="form-label-bold">Select agent to allocate to handover</legend>
            {% if handover.status === "Cleared" %}
                <p>Cannot re-allocate because handover cleared</p>
            {% elif handover.status === "Withdrawn" %}
                <p>Cannot re-allocate because handover withdrawn</p>
            {% else %}
                <select class="select form-control" name="handover-allocated-user" id=handover-allocated-user">
                <option value="">Select</option>
                    {% for user in users %}
                        {% if user.role == 0 %}
                            <option value="{{ user.staffId }}" {{ 'selected' if user.staffId === handover.inQueueOfStaffId else ''}}>{{ user.firstName }} {{ user.lastName }} - {{ user.staffId }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            {% endif %}
        </div>
    {% else %}
        <div class="column-half">
        </div>
    {% endif %}

{% endif %}
