{% if editOrCreate === 'create' %}
    <div>
    </div>
{% else %}
    {% if handover.inQueueOfStaffId !== "" %}
        <div class="column-half">
            <legend class="form-label-bold">Agent progressing handover</legend>
            <p>{{ inQueueOfStaffDetails.firstName }} {{ inQueueOfStaffDetails.lastName }}</p>
        </div>
        {% if data.user.role == 1 %}
        <div class="column-half">
            <legend class="form-label-bold">Agent progressing handover</legend>
            <select class="select form-control" name="handover-allocated-user" id=handover-allocated-user">
                <option value="">Select</option>
                {% for user in users %}
                    <option value="{{ user.staffId }}" {{ 'selected' if user.staffId === handover.inQueueOfStaffId else ''}}>{{ user.firstName }} {{ user.lastName }} - {{ user.staffId }}</option>
                {% endfor %}
            </select>
        </div>
        {% else %}
            <div class="column-half">
            </div>
        {% endif %}
    {% endif %}
{% endif %}
