{% if editOrCreate === "edit" %}
<div class="column-half">
    <legend class="form-label-bold">Customer contact details</legend>
    {% if customer.approvedRepName === "" %}
    <div>
        <p>{{ customer.preferredContactNumber }}</p>
    </div>
    {% else %}
    <div>
        <p>Contact {% if customer.approvedRepType == 1 %} agent {% elif customer.approvedRepType == 2 %} appointee {% else %} power of attorney {% endif %}</p>
        <p>Name: {{ customer.approvedRepName }} &nbsp;&nbsp;&nbsp;&nbsp; Telephone: {{ customer.approvedRepContact }}</p>
    </div>
    {% endif %}
</div>
{% endif %}
