<div class="column-full">
    {% if editOrCreate === 'edit' %}
        <legend class="form-label-bold">Notes</legend>
        <div class="panel panel-border-narrow">
        <legend class="form-label-bold">Add a note</legend>
            <div class="panel panel-border-narrow">
                <textarea class="form-control" id="handover-note" name="handover-note" rows="6"></textarea>
                <br>
                <legend class="form-label-bold">Did this update result from customer contact ?</legend>
                <fieldset class="inline">
                    <div class="multiple-choice">
                        <input id="handover-contact-no" type="radio" name="handover-contact-indicator" value="No" checked="checked">
                        <label for="handover-contact-no">No</label>
                    </div>
                    <div class="multiple-choice">
                        <input id="handover-contact-yes" type="radio" name="handover-contact-indicator" value="Yes">
                        <label for="handover-contact-yes">Yes</label>
                    </div>
                </fieldset>
            </div>
            <br>
            <legend class="form-label-bold">Existing notes</legend>
            {% if handoverNotesLength !== 0 %}
                {% for note in handoverNotes %}
                    <p>{{ note.noteContent }}</p>
                    <p class="font-xsmall form-hint">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        (added by {{ note.userWhoAddedNote.firstName }} {{ note.userWhoAddedNote.lastName }}
                        on {{ note.dateNoteAdded.day }} {{ note.dateNoteAdded.month }} {{ note.dateNoteAdded.year }}
                        at {{ note.dateNoteAdded.hours }}:{{ note.dateNoteAdded.mins }})</p>
                {% endfor %}
            {% else %}
             <p>There are no notes for this handover yet</p>
            {% endif %}
        {% endif %}
    </div>
</div>