{% if editOrCreate === 'edit' %}
    <div class="column-half">
        <legend class="form-label-bold">Handover raised by:</legend>
        <div>
            <p>{{ userWhoRaisedHandover.firstName }} {{ userWhoRaisedHandover.lastName }} in {{ userWhoRaisedHandover.officeDetails.officeName }} {{ userWhoRaisedHandover.officeDetails.officeType}}</p>
        </div>
    </div>
{% else %}
    <div class="column-half">
        <legend class="form-label-bold">Handover raised by:</legend>
        <div>
            <p>{{ user.firstName }} {{ user.lastName }} in {{ user.officeDetails.officeName }} {{ user.officeDetails.officeType}}</p>
        </div>
    </div>
{% endif %}

{% if editOrCreate === 'create' %}
    <div class="column-half">
    </div>
{% else %}
    <div class="column-half">
        <legend class="form-label-bold">Date and time raised</legend>
        <p>Date: {{ handover.dateAndTimeRaisedForDisplay.day }} {{ handover.dateAndTimeRaisedForDisplay.month }} {{ handover.dateAndTimeRaisedForDisplay.year }}
            &nbsp;&nbsp;&nbsp;&nbsp;Time: {{ handover.dateAndTimeRaisedForDisplay.hours }}:{{ handover.dateAndTimeRaisedForDisplay.mins }}</p>
    </div>
{% endif %}