<div class="column-half">
    <legend class="form-label-bold">Select a handover type</legend>
    <select class="select form-control" name="handover-type" id="handover-type">
        <option value="">Select</option>
        {% for handoverType in handTypesList %}
            <option value="{{ handoverType.id }}" data-handovertype-id="{{ handoverType.benefitSubTypeId }}"></option>
        {% endfor %}
    </select>
</div>

<div class="column-half">
    <legend class="form-label-bold">Select a handover reason</legend>
    <select class="select form-control" name="handover-reason" id="handover-reason">
        <option value="">Select</option>
        {% for handoverReason in handReasonsList %}
            <option value="{{ handoverReason.id }}" data-handoverReason-id="{{ handoverReason.handoverTypeId }}"></option>
        {% endfor %}
    </select>
</div>