{% if editOrCreate === "edit" %}
    <div class="column-half">
        <legend class="form-label-bold">Handover status</legend>
        {% if handover.status === "Withdrawn" %}
            <p>Cannot be changed - handover has been withdrawn</p>
        {% else %}
            {% if handover.status === "Cleared" %}
            <p>Cannot be changed - handover has been cleared</p>
            {% else %}
            <select class="select form-control" name="handover-status" id=handover-status">
                {% if handover.status === "Not allocated" %}
                    <option value="Not allocated" {{ 'selected' if handover.status === "Not allocated" else ''}}>Not allocated</option>
                {% endif %}
                {% if handover.status === "Paused" or handover.status === "In progress" %}
                    <option value="In progress" {{ 'selected' if handover.status === "In progress" else ''}}>In progress</option>
                {% endif %}
                {% if handover.status === "In progress" or handover.status === "Paused" %}
                    <option value="Paused" {{ 'selected' if handover.status === "Paused" else ''}}>Paused</option>
                {% endif %}
                {% if handover.status === "In progress" or handover.status === "Paused" or handover.status === "Cleared" %}
                    <option value="Cleared" {{ 'selected' if handover.status === "Cleared" else ''}}>Cleared</option>
                {% endif %}
                {% if handover.status === "Not allocated" or handover.status === "In progress" or handover.status === "Paused" %}
                    <option value="Withdrawn" {{ 'selected' if handover.status === "Withdrawn" else ''}}>Withdrawn</option>
                {% endif %}
            {% endif %}
        {% endif %}
        </select>
    </div>
{% else %}
<div class="column-half">
</div>
{% endif %}