{% extends "layout.html" %}
{% block content %}
{% include "includes/allocator-queue-flow/allocator-nav.html" %}
<main id="content" role="main">
    <div class="main-content">
        {% include "includes/error-summary.html" %}
        {% include "includes/message-banner.html" %}
    
       <div class="column-two-thirds">
        <h1 class="heading-large">
              Adam Brown <span class="heading-secondary">AA123456B</span></h1>
              <h2 class="heading-medium">Description</h2>
              <p class="lede">Change in bank details / change of address</p>
              <div class="grid-row">    
                <div class="column-half">
               <h2 class="heading-medium">Edit</h2>     
              <div class="form-group">
              <label class="form-label-bold">Select agent to allocate to handover</label>
                  <select class="select form-control form-control-3-4" name="handover-allocated-user" id="handover-allocated-user&quot;">
                  <option value="">Select</option>
                              <option value="40001001">Callum Dalton - 40001001</option>
                              <option value="40001002">Ellie Fuller - 40001002</option>
                              <option value="40001003">Grant Hopper - 40001003</option>
                              <option value="40001004" selected="">Imogen Johnson - 40001004</option>
                              <option value="40001007">Olive Potter - 40001007</option>
                              <option value="40001008">Quentin Redruth - 40001008</option>
                              <option value="40001009">Steven Tumnus - 40001009</option>
                  </select>
                </div>
              </div>
            </div>
            <hr />
            <div class="grid-row">
                    <div class="column-half">
                            <div class="form-group">
                                    <label class="form-label-bold" for="select-box">Select a benefit</label>
                                    <select class="select form-control form-control-3-4" name="benefit" id="benefit" data-target="contact-by-text">
                                    <option value="" id="benSelect">Select</option>
                                    <option value="1" id="ben-1">Employment &amp; Support Allowance [ESA]</option>
                                    <option value="2" id="ben-2" selected="">Jobseekers Allowance [JSA]</option>
                                    <option value="3" id="ben-3">Universal Credit [UC]</option>
                                    <option value="4" id="ben-4">Housing Benefit [HB]</option>
                                    <option value="5" id="ben-5">Social Fund [SF]</option>
                                    </select>
                                  </div>
                    </div>
                    </div>
                    <hr>
            <div class="grid-row">
                    <div class="column-half">
                                      <div class="form-group">
                                            <label class="form-label-bold" for="select-box">Select a handover type</label>
                                            <select class="form-control form-control-3-4" id="select-box" name="select-box">
                                              <option value="">Select</option>
                                              <option value="1">Appointment confirmation</option>
                                              <option value="2" selected="">Claim closure</option>
                                              <option value="3">Hardship</option>
                                              <option value="4">Missing evidence</option>
                                              <option value="5">New claim</option>
                                              <option value="6">Reconsiderations</option>
                                            </select>
                                          </div>

                                          <div class="form-group">
                                            <label class="form-label-bold" for="select-box">Select a handover reason</label>
                                            <select class="select form-control form-control-3-4" name="handover-reason" id="handover-reason">
                                              <option value="">Select</option>
                                              <option value="1">Appointment form</option>
                                              <option value="2">Claim termination</option>
                                              <option value="3" selected="">General query</option>
                                              <option value="4">Joint claim</option>
                                              <option value="5">Missing direct payment</option>
                                              <option value="6">Payment query</option>
                                            </select>
                                          </div>
                                              <div class="form-group">
                                                    <label class="form-label-bold" for="select-box">Handover status</label>
                                            
                                                
                                                <select class="select form-control form-control-3-4" name="handover-status" id="handover-status&quot;">
                                                    
                                                    
                                                        <option value="In progress" selected="">In progress</option>
                                                                            
                                                        <option value="Cleared">Cleared</option>
                                                    
                                                    
                                                        <option value="Withdrawn">Withdrawn</option>
                                                    
                                                
                                            
                                            </select>
                                        </div>     
                                         
                  </div>
            
            </div>    
            <hr /> 
            <div class="grid-row">
                    <div class="column-half">
                      <div class="form-group">
                      <label class="form-label-bold">Callback status</label>
                      <div class="panel panel-border">
                     <p>
                     Third call pending
                     </p>
                     </div>
                            <select class="select form-control form-control-3-4" name="handover-callback-result" id="handover-callback-result&quot;">
                                <option value="0">Select</option>
                                <option value="1">First call successful</option>
                                <option value="2">First call failed - engaged</option>
                                <option value="3">First call failed - number unobtainable</option>
                                <option value="4">First call failed - not answered</option>
                            </select>
                        </div>
      </div>
      <div class="column-half">
       <h2 class="heading-medium mt-0">Callback history</h2>
      <div class="timeline">
                    <span class="line"></span>
                    <div class="timeline__event">
                      <h3 class="heading-small">First callback:    Failed - engaged</h3>
                      <p class="timeline_datetime font-xsmall">Alex Black on 17 October 2017 at 13:57</p>
                    </div>
            
                    <span class="line"></span>
                    <div class="timeline__event">
                      <h3 class="heading-small">Second callback:    Failed - number unobtainable</h3>
                      <p class="timeline_datetime font-xsmall">Alex Black on 17 October 2017 at 13:00</p>
                    </div> 
                    <div style="clear:both"></div>
            
                  </div>
      </div>
      </div>
      <hr />
      <div class="grid-row">
            <div class="column-half">
                     <legend class="form-label-bold">Add a note</legend>
          
                             <textarea class="form-control form-control-3-4" id="handover-note" name="handover-note" rows="6">{{ data['handover-note'] }}</textarea>
                             <br />
                             <div class="panel panel-border-narrow">
                             <legend class="form-label-bold">Did this update result from customer contact ?</legend>
                             <fieldset class="inline">
                                 <div class="multiple-choice">
                                     <input id="handover-contact-no" type="radio" name="handover-contact-indicator" value="No" checked="checked">
                                     <label for="handover-contact-no">No</label>
                                 </div>
                                 <div class="multiple-choice">
                                     <input id="handover-contact-yes" type="radio" name="handover-contact-indicator" value="Yes">
                                     <label for="handover-contact-yes">Yes</label>
                                 </div>
                             </fieldset>
                         </div>
          
          </div>
          <div class="column-half">
          <h2 class="heading-medium mt-0">Timeline</h2>
          <div class="timeline">
                         
                <span class="line"></span>
                <div class="timeline__event">
                  <h3 class="heading-small"></h3>
                  <p class="timeline_datetime font-xsmall"> date time person</p>
                </div>
                
                        <span class="line"></span>
                        <div class="timeline__event">
                          <h3 class="heading-small">Customer could not contact own office</h3>
                          <p class="timeline_datetime font-xsmall">Alex Black on 17 October 2017 at 13:57</p>
                        </div>
                
                        <span class="line"></span>
                        <div class="timeline__event">
                          <h3 class="heading-small">Customer called and asked to be called on his mobile telephone number</h3>
                          <p class="timeline_datetime font-xsmall">Ellie Fuller on 24 October 2017 at 13:57</p>
                        </div>
                
                        <span class="line"></span>
                        <div class="timeline__event">
                          <h3 class="heading-small">Customer called for progress update as had not heard from own office since calling on 17th October</h3>
                          <p class="font-xsmall hint">Callum Dalton on 31 October 2017 at 12:57</p>
                        </div>
                      
                        <div style="clear:both"></div>
                
                      </div>
          </div>
          </div>
          <hr />
          <div class="grid-row">
          <div class="column-full">
          <a href="allocator-queue" class="button">Submit</a>
          <br />
          <a href="allocator-queue" class="link-back">Back to queue</a>
          </div>
          </div>
       </div>
       <div class="column-one-third">
        <div class="panel-alt">
            <h2 class="heading-medium" id="subsection-title">Summary</h2>
            <h3 class="heading-small">
                    Time remaining</h3>
                <p class="heading-medium mt-0">1 hour 40 mins</p>
                <hr />
                <h3 class="heading-small">
                        Handover status</h3>
                    <p>In progress</p>
                    <hr />   
            <h3 class="heading-small">
                    Callback required ?</h3>
                <p>Yes</p>
                <hr />
                <h3 class="heading-small">
                        Callback status</h3>
                    <p>First call pending</p>
                    <hr />    
            <h3 class="heading-small">    
               Telephone</h3>
            <p>01234 567891</p>
            <hr />
            <h3 class="heading-small">
                    Handover raised by:</h3>
                <p>Callum Dalton in Barnsley Jobcentre</p>
                <hr />
            <h3 class="heading-small">    
             Agent progressing handover</h3>
             <p>Imogen Johnson</p>
            </div>
       </div>
     </div>     
</main>
{% endblock %}
