{% extends "layout.html" %} {% block content %}
<main id="content" role="main">
  <div class="main-content">
    <div class="grid-row">
      <div class="column-full">
        <h1 class="heading-large">
          Handover's prototype V3
          <span class="heading-secondary">Edit handover</span>
        </h1>
        <form class="form" action="queue" method="post">
          <div class="form-group">
            <fieldset>

              <legend>
                <h1 class="heading-medium">Scenarios (recieving)</h1>
              </legend>

              <div class="multiple-choice">
                  <input id="radio-inline-1" type="radio" name="scenario" value="agentClear" {{ 'checked' if data[ 'scenario']==='agentClear'
                    else ''}}>
                  <label for="radio-1">Agent clear handover (non callback)</label>
                </div>

              <div class="multiple-choice">
                <input id="radio-inline-2" type="radio" name="scenario" value="agentChangeStatus" {{ 'checked' if data[ 'scenario']==='agentChangeStatus'
                  else ''}}>
                <label for="radio-2">Agent edit handover (status change)</label>
              </div>

              <div class="multiple-choice">
                  <input id="radio-inline-3" type="radio" name="scenario" value="agentReallocate" {{ 'checked' if data[ 'scenario']==='agentReallocate'
                    else ''}}>
                  <label for="radio-3">Agent reallocate handover</label>
                </div>
                
              <div class="multiple-choice">
                <input id="radio-inline-5" type="radio" name="scenario" value="allocatorEdit" {{ 'checked' if data[ 'scenario']==='allocatorEdit'
                  else ''}}>
                <label for="radio-5">Allocator edit handover (reallocate)</label>
              </div>
            </fieldset>
          </div>
          <button type="submit" class="button">Continue</button>
        </form>

        <form class="form" action="find" method="post">
            <div class="form-group">
              <fieldset>
  
                <legend>
                  <h1 class="heading-medium">Scenarios (search)</h1>
                </legend>
                <div class="multiple-choice">
                    <input id="radio-inline-4" type="radio" name="scenario" value="agentEditEscalate" {{ 'checked' if data[ 'scenario']==='agentEditEscalate'
                    else ''}}>
                      
                    <label for="radio-4">Agent edit escalate handover</label>
                  </div>
                <div class="multiple-choice">
                    <input id="radio-inline-5" type="radio" name="scenario" value="customerUpdate" {{ 'checked' if data[ 'scenario']==='customerUpdate'
                      else ''}}>
                    <label for="radio-5">Customer update (history)</label>
                  </div>
              </fieldset>
            </div>
            <button type="submit" class="button">Continue</button>
          </form>
      </div>
</main>
{% endblock %}