{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">
    <div class="main-content">
        {% include "includes/handovers_summary_nav.html" %}
        {% include "includes/error-summary.html" %}
        {% include "includes/message-banner.html" %}
        <h1 class="heading-large">View agent queue for - {{ agent.firstName }} {{ agent.lastName }}</h1>
        <div class="grid-row">
            <div class="column-full">
                <table>
                    <thead>
                        <tr>
                            <th scope="col"><span>NI number</span></th>
                            <th scope="col"><span>Name</span></th>
                            <th scope="col"><span>Date/time raised</span></th>
                            <th scope="col"><span>Time left to clear</span></th>
                            <th scope="col"><span>Benefit type</span></th>
                            <th scope="col"><span>Handover type</span></th>
                            <th scope="col"><span>Handover Status</span></th>
                            <th scope="col"><span>Callback status</span></th>
                            <th scope="col"><span>!</span></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for handover in handoversQueueList %}
                        <tr {% if handover.callback === 'Yes' and handover.timeLeftToTarget.withinOriginalTargetTime == 0 %} class="highlight-table-row" {% endif %}>
                            <td>{{handover.nino}}</td>
                            <td>{{handover.customerDetails.firstName}} {{handover.customerDetails.lastName}}</td>
                            <td>{{handover.dateRaised}} {{handover.timeRaised}}</td>
                            {% if handover.timeLeftToTarget.expired == 1 %}
                                <td>Expired</td>
                            {% else %}
                                <td>{{ handover.timeLeftToTarget.timeRemaining }}</td>
                            {% endif %}
                            <td>{{handover.benefitAbbr}}</td>
                            <td>{{handover.handoverType}}</td>
                            <td>{{handover.status}}</td>
                            <td>{{handover.callbackStatusDescription}}</td>
                            {% if handover.callback === 'Yes' and handover.timeLeftToTarget.withinOriginalTargetTime == 0 %}
                                <td>!</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            <td>{{handoverUpdateLink(handover)}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <div class="grid-row">
            <div class="column-full">
                <form action="/queue/agent" method="GET" class="form">
                    <div class="form-group">
                        <input type="submit" class="button" value="Select another agent">
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<script src="/public/javascripts/vendor/jquery-1.11.3.js"></script>
<script src="/public/javascripts/vendor/datatables.min.js"></script>

<script>
    $('table').DataTable({
        paging: false,
        info: false,
        filter: false
    })
</script>

{% endblock %}

{% macro handoverUpdateLink(handover) %}
{% set queryString = '?id=' + handover.id %}
<a href="/handover/edit{{queryString}}">Update</a>
{% endmacro %}