{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">
    <div class="main-content">

        {% if message %}
            {% include "includes/message-banner.html" %}
        {% endif %}

        <h1 class="heading-large">View claimant details for {{ firstName }} {{ lastName }}</h1>
        <br>
        <div>
            <div class="grid-row">
                <div class="column-half">
                    <div class="form-group">
                        <legend class="form-label-bold">National insurance number</legend>
                        <div>
                            <p>{{ claimant.nino }}</p>
                        </div>
                    </div>
                </div>
                <div class="column-half">
                    <div class="form-group">
                        <legend class="form-label-bold">Home jobcentre</legend>
                        <div>
                            <p>{{ claimantOfficeDetails.officeName }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid-row">
                <div class="column-half">
                    <div class="form-group">
                        <legend class="form-label-bold">First name</legend>
                        <div>
                            <p>{{ claimant.firstName }}</p>
                        </div>
                    </div>
                </div>
                <div class="column-half">
                    <div class="form-group">
                        <legend class="form-label-bold">Last name</legend>
                        <div>
                            <p>{{ claimant.lastName }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid-row">
                <div class="column-half">
                    <div class="form-group">
                        <legend class="form-label-bold">Date of birth</legend>
                        <div>
                            <p>{{ claimant.birthDay }} {{ claimant.birthMonth }} {{ claimant.birthYear }}</p>
                        </div>
                    </div>
                </div>
                <div class="column-half">
                    <div class="form-group">
                        <legend class="form-label-bold">Postcode</legend>
                        <div>
                            <p>{{ claimant.postcode }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid-row">
                <div class="column-half">
                    <div class="form-group">
                        <legend class="form-label-bold">Preferred contact number</legend>
                        <div>
                            <p>{{ claimant.preferredContactNumber }}</p>
                        </div>
                    </div>
                </div>
                <div class="column-half">
                    <div class="form-group">
                        <legend class="form-label-bold">Email address</legend>
                        <div>
                            <p>{{ claimant.emailAddress }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid-row">
                <div class="column-half">
                    <div class="form-group">
                        <legend class="form-label-bold">Welsh speaker ?</legend>
                        <div>
                            <p>{{ claimant.welshSpeaker }}</p>
                        </div>
                    </div>
                </div>
                <div class="column-half">
                    <div class="form-group">
                        <legend class="form-label-bold">Translator reqd ?</legend>
                        {% if claimant.translator === "No" %}
                            <div>
                                <p>No</p>
                            </div>
                        {% else %}
                            <div>
                                <p>Yes</p>
                            </div>
                            <div>
                                <legend class="form-label-bold">Language</legend>
                                <p>{{ claimant.language }}</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% if approvedRepName === "" %}
            <div>
            </div>
            {% else %}
            <div class="grid-row">
                <div class="column-half">
                    <div class="form-group">
                        <legend class="form-label-bold">Approved representative name</legend>
                        <div>
                            <p>{{ claimant.approvedRepName }}</p>
                        </div>
                    </div>
                </div>
                <div class="column-half">
                    <div class="form-group">
                        <legend class="form-label-bold">Approved representative contact details</legend>
                        <div>
                            <p>{{ claimant.approvedRepContact }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}


            <div class="grid-row">
                <div class="column-half">
                    <div class="form-group">
                        <a href="/claimant/edit?nino={{ claimant.nino }}" class="button">Edit claimant</a>
                    </div>
                </div>
                <div class="column-half">
                    <div class="form-group">
                        <a href="/handover/create?nino={{ claimant.nino }}" class="button">Create handover</a>
                    </div>
                </div>
            </div>

            <div class="grid-row"
                <div class="column-half">
                    <div class="form-group">
                        <a href="/index">Back to index page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="/public/javascripts/vendor/jquery-1.11.0.min.js"></script>

{% endblock %}
