{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">
    <div class="main-content">
        {% if editOrCreate === 'edit' %}
            <h1 class="heading-large">Edit claimant details for {{ claimant.firstName }} {{ claimant.lastName }}</h1>
            <form action="/claimant/edit" method="POST" class="form">
        {% else %}
            <h1 class="heading-large">Create new claimant</h1>
            <form action="/claimant/create" method="POST" class="form">
        {% endif %}
            <div class="form-group">
                <div class="grid-row">
                    <div class="column-half">
                        <div class="form-group">
                            <div>
                                <legend class="form-label-bold">National insurance number</legend>
                                <input type="hidden" id="nino" name="nino" value="{{ claimant.nino }}">
                                <p>{{ claimant.nino }}</p>
                            </div>
                        </div>
                    </div>
                    {% if editOrCreate === 'edit' %}
                    <div class="column-half">
                        <div class="form-group">
                            <legend class="form-label-bold">Home jobcentre</legend>
                            <div>
                                <p>{{ claimantOfficeDetails.officeName }}</p>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="column-half">
                        <div class="form-group">
                            <legend class="form-label-bold">Home jobcentre</legend>
                            <select class="select form-control" name="claimant-office" id="claimant-office">
                                <option value="">Select</option>
                                {% for office in officesList %}
                                    {% if office.officeTypeId === 1 %}
                                        <option value="{{ office.id }}">{{ office.officeName }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="grid-row">
                    <div class="column-half">
                        <div class="form-group">
                            <legend class="form-label-bold">First name</legend>
                            <div>
                                <input type="text" class="form-control" id="firstName" name="firstName" value="{{ claimant.firstName }}">
                            </div>
                        </div>
                    </div>
                    <div class="column-half">
                        <div class="form-group">
                            <legend class="form-label-bold">Last name</legend>
                            <div>
                                <input type="text" class="form-control" id="lastName" name="lastName" value="{{ claimant.lastName }}">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid-row">
                    <div class="column-half">
                        <div class="form-group">
                            <legend class="form-label-bold">Date of birth</legend>
                            <div>
                                <p class="form-hint">e.g. 20 January 2018</p>
                                <input type="text" class="form-control" id="dob" name="dob" value="{{ claimant.dob }}">
                            </div>
                        </div>
                    </div>
                    <div class="column-half">
                        <div class="form-group">
                            <legend class="form-label-bold">Postcode</legend>
                            <div>
                                <input type="text" class="form-control" id="postcode" name="postcode" value="{{ claimant.postcode }}">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid-row">
                    <div class="column-half">
                        <div class="form-group">
                            <legend class="form-label-bold">Preferred contact number</legend>
                            <div>
                                <input type="text" class="form-control" id="prefContNum" name="prefContNum" value="{{ claimant.preferredContactNumber }}">
                            </div>
                        </div>
                    </div>
                    <div class="column-half">
                        <div class="form-group">
                            <legend class="form-label-bold">Email address</legend>
                            <div>
                                <input type="text" class="form-control" id="emailAddr" name="emailAddr" value="{{ claimant.emailAddress }}">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid-row">
                    <div class="column-half">
                        <div class="form-group">
                            <legend class="form-label-bold">Welsh speaker ?</legend>
                            <fieldset class="inline">
                                <div class="multiple-choice">
                                    <input id="welshSpeaker_no" type="radio" name="welsh-speaker" value="No" {% if claimant.welshSpeaker === 'No' %}
                                                                                                                checked="checked"
                                                                                                             {% endif %}>
                                    <label for="welshSpeaker_no">No</label>
                                </div>
                                <div class="multiple-choice">
                                    <input id="welshSpeaker_yes" type="radio" name="welsh-speaker" value="Yes" {% if claimant.welshSpeaker === 'Yes' %}
                                                                                                                  checked="checked"
                                                                                                               {% endif %}>
                                    <label for="welshSpeaker_yes">Yes</label>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div class="column-half">
                        <div class="form-group">
                            <legend class="form-label-bold">Translator reqd ?</legend>
                            <fieldset class="inline">
                                <div class="multiple-choice">
                                    <input id="translator-no" type="radio" name="translator" value="No" {% if claimant.translator === 'No' %}
                                                                                                            checked="checked"
                                                                                                        {% endif %}>
                                    <label for="translator-no">No</label>
                                </div>
                                <div class="multiple-choice" data-target="language">
                                    <input id="translator-yes" type="radio" name="translator" value="Yes" {% if claimant.translator === 'Yes' %}
                                                                                                             checked="checked"
                                                                                                          {% endif %}>
                                    <label for="translator-yes">Yes</label>
                                </div>
                                <div class="panel panel-border-narrow js-hidden" id="language">
                                    <label class="form-label-bold" for="language">Language</label>
                                    <input class="form-control" name="language" type="text" value="{{ claimant.language }}">
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>


                <div class="grid-row">
                    <div class="column-half">
                        <div class="form-group">
                            <legend class="form-label-bold">Does the customer have an approved representative ?</legend>
                            <fieldset class="inline">
                                <div class="multiple-choice">
                                    <input id="approved-rep-no" type="radio" name="approved-rep" value="No" {% if approvedRep === 0 %} checked="checked" {% endif %}>
                                    <label for="approved-rep-no">No</label>
                                </div>
                                <div class="multiple-choice" data-target="approved-rep-group">
                                    <input id="approved-rep-yes" type="radio" name="approved-rep" value="Yes" {% if approvedRep === 1 %} checked="checked" {% endif %}>
                                    <label for="approved-rep-yes">Yes</label>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="column-half">
                    </div>
                </div>

                <div class="grid-row js-hidden" id="approved-rep-group" >
                    <div class="column-half">
                        <div class="form-group">
                            <legend class="form-label-bold">Approved representative name</legend>
                            <div>
                                <input type="text" class="form-control" id="rep-name" name="rep-name" value="{{ claimant.approvedRepName }}">
                            </div>
                        </div>
                    </div>
                    <div class="column-half">
                        <div class="form-group">
                            <legend class="form-label-bold">Approved representative contact details</legend>
                            <div>
                                <input type="text" class="form-control" id="rep-contact" name="rep-contact" value="{{ claimant.approvedRepContact }}">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid-row">
                    <div class="column-half">
                        <div class="form-group">
                            <input type="submit" class="button" value="Submit">
                        </div>
                    </div>
                    <div class="column-half>
                        <div class="form-group">
                            <a href="/index">Back to index page</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>

<script src="/public/javascripts/vendor/jquery-1.11.0.min.js"></script>

{% endblock %}
