{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">
    <div class="main-content">
        {% if editOrCreate === 'edit' %}
            <h1 class="heading-large">Edit customer details for {{ customer.firstName }} {{ customer.lastName }}</h1>
            <form action="/customer/edit?nino={{ customer.nino }}" method="POST" class="form">
        {% else %}
            <h1 class="heading-large">Create new customer</h1>
            <form action="/customer/create" method="POST" class="form">
        {% endif %}
        {% include "includes/message-banner.html" %}
        {% include "includes/error-summary.html" %}
            <div class="form-group">
                <div class="grid-row">
                    {% include "includes/customerEdit/nino.html" %}
                    {% include "includes/customerEdit/home-jobcentre.html" %}
                </div>

                <div class="grid-row">
                    {% include "includes/customerEdit/first-name.html" %}
                    {% include "includes/customerEdit/last-name.html" %}
                </div>

                <div class="grid-row">
                    {% include "includes/customerEdit/date-of-birth.html" %}
                    {% include "includes/customerEdit/postcode.html" %}
                </div>

                <div class="grid-row">
                    {% include "includes/customerEdit/contact-details.html" %}
                </div>

                <div class="grid-row">
                    {% include "includes/customerEdit/welsh-speaker.html" %}
                    {% include "includes/customerEdit/translator-and-language.html" %}
                </div>

                {% include "includes/customerEdit/approved-rep.html" %}

                <div class="grid-row">
                    <div class="column-half">
                        <div class="form-group">
                            <input type="submit" class="button" value="Submit">
                        </div>
                    </div>
                    <div class="column-half>
                        <div class="form-group">
                            <a href="/index">Back to index page</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>

<script src="/public/javascripts/vendor/jquery-1.11.0.min.js"></script>

{% endblock %}
