{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">
    <div class="main-content">
        {% include "includes/handovers_summary_nav.html" %}
        {% include "includes/error-summary.html" %}
        {% include "includes/message-banner.html" %}
        <h1 class="heading-large">View customer details for {{ firstName }} {{ lastName }}</h1>
        <br>
        <div>
            <div class="grid-row">
                <div class="column-half">
                    <div class="form-group">
                        <legend class="form-label-bold">National insurance number</legend>
                        <div>
                            <p>{{ customer.nino }}</p>
                        </div>
                    </div>
                </div>
                <div class="column-half">
                    <div class="form-group">
                        <legend class="form-label-bold">Postcode</legend>
                        <div>
                            <p>{{ customer.postcode }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-row">
                <div class="column-half">
                    <div class="form-group">
                        <legend class="form-label-bold">First name</legend>
                        <div>
                            <p>{{ customer.firstName }}</p>
                        </div>
                    </div>
                </div>
                <div class="column-half">
                    <div class="form-group">
                        <legend class="form-label-bold">Last name</legend>
                        <div>
                            <p>{{ customer.lastName }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid-row">
                <div class="column-half">
                    <div class="form-group">
                        <legend class="form-label-bold">Date of birth</legend>
                        <div>
                            <p>{{ customer.birthDay }} {{ customer.birthMonth }} {{ customer.birthYear }}</p>
                        </div>
                    </div>
                </div>
                <div class="column-half">
                    <div class="form-group">
                        <legend class="form-label-bold">Home jobcentre</legend>
                        <div>
                            <p>{{ customerOfficeDetails.officeName }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid-row">
                <div class="column-half">
                    <div class="form-group">
                        <legend class="form-label-bold">Preferred contact number</legend>
                        <div>
                            <p>{{ customer.preferredContactNumber }}</p>
                        </div>
                    </div>
                </div>
                <div class="column-half">
                    <div class="form-group">
                        <legend class="form-label-bold">Email address</legend>
                        <div>
                            <p>{{ customer.emailAddress }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid-row">
                <div class="column-half">
                    <div class="form-group">
                        <legend class="form-label-bold">Welsh speaker ?</legend>
                        <div>
                            <p>{{ customer.welshSpeaker }}</p>
                        </div>
                    </div>
                </div>
                <div class="column-half">
                    <div class="form-group">
                        <legend class="form-label-bold">Translator reqd ?</legend>
                        {% if customer.translator === "No" %}
                        <div>
                            <p>No</p>
                        </div>
                        {% else %}
                        <div>
                            <p>Yes</p>
                        </div>
                        <div>
                            <legend class="form-label-bold">Language</legend>
                            <p>{{ customer.language }}</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% if customer.approvedRepName === "" %}
            <div>
            </div>
            {% else %}
            <div class="grid-row">
                <div class="column-half">
                    <div class="form-group">
                        <legend class="form-label-bold">Customer representative name</legend>
                        <div>
                            <p>{{ customer.approvedRepName }}</p>
                        </div>
                    </div>
                </div>
                <div class="column-half">
                    <div class="form-group">
                        <legend class="form-label-bold">Customer representative contact details</legend>
                        <div>
                            <p>{{ customer.approvedRepContact }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}


            <div class="grid-row">
                <div class="column-half">
                    <div class="form-group">
                        <a href="/customer/edit?nino={{ customer.nino }}" class="button">Edit customer</a>
                    </div>
                </div>
                <div class="column-half">
                    <div class="form-group">
                        <a href="/handover/create?nino={{ customer.nino }}" class="button">Create handover</a>
                    </div>
                </div>
            </div>

            <div class="grid-row"
            <div class="column-half">
                <div class="form-group">
                    <a href="/index">Back to index page</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>

<script src="/public/javascripts/vendor/jquery-1.11.3.min.js"></script>

{% endblock %}
