{% extends "layout.html" %}

{% block content %} 
{% include "includes/handovers_summary_nav.html" %}
<main id="content" role="main">
    <div class="main-content">
        {% include "includes/message-banner.html" %}
        {% include "includes/error-summary.html" %}
        {% if editOrCreate === 'edit' %}
            <h1 class="heading-large">Amend customer details for {{ customer.firstName }} {{ customer.lastName }}</h1>
            <form action="/customer/edit?nino={{ customer.nino }}" method="POST" class="form">
        {% else %}
            <h1 class="heading-large">Create new customer</h1>
            <form action="/customer/create" method="POST" class="form">
        {% endif %}
                <div class="form-group">
                    <div class="grid-row">
                        {% include "includes/customerEdit/nino.html" %}

                    </div>

                    <div class="grid-row">
                        {% include "includes/customerEdit/first-name.html" %}
                        {% include "includes/customerEdit/postcode.html" %}
                    </div>

                    <div class="grid-row">
                        {% include "includes/customerEdit/last-name.html" %}
                        {% include "includes/customerEdit/home-jobcentre.html" %}
                    </div>

                    <div class="grid-row">
                        {% include "includes/customerEdit/date-of-birth.html" %}
                        {% include "includes/customerEdit/contact-details.html" %}
                    </div>

                    <div class="grid-row">
                        {% include "includes/customerEdit/welsh-speaker.html" %}
                        {% include "includes/customerEdit/translator-and-language.html" %}
                    </div>

                    {% include "includes/customerEdit/approved-rep.html" %}

                    <div class="grid-row">
                        <div class="column-half">
                           
                                <input type="submit" class="button" value="Submit">
                                <br />
                                <a href="/customer-find" class="link-back">Back to find customer</a>
                          
    
                    </div>
                </div>
            </form>
    </div>
</main>

<script src="/public/javascripts/vendor/jquery-1.11.3.min.js"></script>

{% endblock %}
