{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">
    <div class="main-content">
        {% include "includes/dummy_dcams_summary_nav.html" %}
        <h3 class="heading-medium">This page is a dummy.
            It is included only to indicate that within DCAMS the first five tabs take you to the relevant DCAMS function.
            The last tab will be a link to the Handovers tool.</h3>
    </div>
</main>

<script src="/public/javascripts/vendor/jquery-1.11.0.min.js"></script>

{% endblock %}
