{% extends "layout.html" %}

{% block content %}
  {% include "includes/handovers_summary_nav.html" %}
<main id="content" role="main">
    <div class="main-content">
        {% include "includes/message-banner.html" %}
        {% include "includes/error-summary.html" %}
        {% if editOrCreate === 'edit' %}
            <h1 class="heading-large">Edit handover for {{ customer.firstName }} {{ customer.lastName }}</h1>
            <form action="/handover/edit" method="POST" class="form">
        {% else %}
            <h1 class="heading-large">Create handover for {{ customer.firstName }} {{ customer.lastName }}</h1>
            <form action="/handover/create" method="POST" class="form">
        {% endif %}

            <div class="form-group">
                <div class="grid-row">
                    <div class="column-half">
                        <legend class="form-label-bold">National insurance number</legend>
                        <div>
                            <p>{{ customer.nino }}</p>
                        </div>
                    </div>
                    <div class="column-half">
                        <legend class="form-label-bold">Customer's Jobcentre</legend>
                        <div>
                            <p>{{ customerOfficeDetails.officeName }}</p>
                        </div>
                    </div>
                </div>
                <br>

                <div class="grid-row">
                  {% include "includes/handoverEdit/customerContactDetails.html" %}
                </div>
                <br>

                <div class="grid-row">
                    {% include "includes/handoverEdit/handoverRaisedNameTime.html" %}
                </div>

                <div class="grid-row">
                    {% include "includes/handoverEdit/receivingOffice.html" %}
                    {% include "includes/handoverEdit/targetTime.html" %}
                </div>

                <div class="grid-row">
                    {% include "includes/handoverEdit/agentProgressing.html" %}
                </div>
                <br>

                <div class="grid-row">
                    {% include "includes/handoverEdit/handoverDescription.html" %}
                </div>
                <br>
                <br>
                <div class="grid-row">
                        {% include "includes/handoverEdit/benefit.html" %}
                </div>
                <br>

                <div class="grid-row">
                        {% include "includes/handoverEdit/handoverTypeAndReason.html" %}
                </div>
                <br>

                <div class="grid-row">
                    {% include "includes/handoverEdit/callback.html" %}
                    {% include "includes/handoverEdit/handoverStatus.html" %}
                </div>
                <br>

                {% if editOrCreate === 'edit' %}
                    <div class="grid-row">
                        {% include "includes/handoverEdit/callbackStatus.html" %}
                    </div>
                {% endif %}
                <br>

                <div class="grid-row">
                    {% include "includes/handoverEdit/handoverNotes.html" %}
                </div>
                <br>
                <br>
                <div class="form-group">
                    <input type="submit" class="button" value="Submit">
                </div>
                <br>
                {% if editOrCreate === 'edit' %}
                    {% if queueType === 'office' %}
                        <div>
                            <a href="../queue/view?queueType=office">Back to queue</a>
                        </div>
                    {% else %}
                        <div>
                            <a href="../queue/view?agentId={{ user.staffId }}">Back to queue</a>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </form>
    </div>
</main>

<script src="/public/javascripts/handovers.js"></script>

<script src="/public/javascripts/vendor/jquery-1.11.3.min.js"></script>

{% endblock %}