{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">
    <div class="main-content">
        {% if editOrCreate === 'edit' %}
            <h1 class="heading-large">Edit handover for {{ claimant.firstName }} {{ claimant.lastName }}</h1>
            <form action="/handover/edit" method="POST" class="form">
        {% else %}
            <h1 class="heading-large">Create handover for {{ claimant.firstName }} {{ claimant.lastName }}</h1>
            <form action="/handover/create" method="POST" class="form">
        {% endif %}

            <div class="form-group">
                <div class="grid-row">
                    <div class="column-half">
                        <legend class="form-label-bold">National insurance number</legend>
                        <div>
                            <p>{{ claimant.nino }}</p>
                        </div>
                    </div>
                    <div class="column-half">
                        <legend class="form-label-bold">Claimant's Jobcentre</legend>
                        <div>
                            <p>{{ officeDetails.officeName }}</p>
                        </div>
                    </div>
                </div>
                <br>
                <div class="grid-row">
                    <div class="column-half">
                        <legend class="form-label-bold">Handover raised by:</legend>
                        <div>
                            <p>{{ user.firstName }} {{ user.lastName }} in {{ user.officeDetails.officeName }} {{ user.officeDetails.officeType}}</p>
                        </div>
                    </div>
                    {% if editOrCreate === 'create' %}
                    <div class="column-half">
                    </div>
                    {% else %}
                    <div class="column-half">
                        <legend class="form-label-bold">Date and time raised</legend>
                        <p>Date: {{ handover.dateAndTimeRaisedForDisplay.day }} {{ handover.dateAndTimeRaisedForDisplay.month }} {{ handover.dateAndTimeRaisedForDisplay.year }}
                            &nbsp;&nbsp;&nbsp;&nbsp;Time: {{ handover.dateAndTimeRaisedForDisplay.hours }}:{{ handover.dateAndTimeRaisedForDisplay.mins }}</p>
                    </div>
                    {% endif %}
                </div>

                <div class="grid-row">
                    <div class="column-half">
                        <div>
                            <p></p>
                        </div>
                    </div>
                        {% if editOrCreate === 'create' %}
                        <div class="column-half">
                        </div>
                        {% else %}
                        <div class="column-half">
                            <legend class="form-label-bold">Target callback time</legend>
                            {% if handover.priority === "Non-callback" %}
                            <p>No target date and time for this priority</p>
                            {% else %}
                            <p>Date: {{ handover.targetDateAndTimeForDisplay.day }} {{ handover.targetDateAndTimeForDisplay.month }} {{ handover.targetDateAndTimeForDisplay.year }}
                                &nbsp;&nbsp;&nbsp;&nbsp;Time: {{ handover.targetDateAndTimeForDisplay.hours }}:{{ handover.targetDateAndTimeForDisplay.mins }}</p>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <br>

                <div class="grid-row">
                    <div class="column-half">
                        <legend class="form-label-bold">Select a benefit</legend>
                        <select class="select form-control" name="benefit" id="benefit" onchange="benCheck()">
                            <option value="" id="benSelect">Select</option>
                            {% for benefit in benList %}
                                <option value="{{ benefit.id }}" id="ben-{{ benefit.id }}"{{ 'selected' if  handover.benefitId === benefit.id else ''}}>{{ benefit.benefitName }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="column-half" id="benSubTypeDiv" style="display:none;">
                        <legend class="form-label-bold">Select a benefit sub-type</legend>
                        <select class="select form-control" name="benefit-sub" id="benefit-sub">
                            <option value="">Select</option>
                            <option value="Social Fund Type 1" {{ 'selected' if handover.benSubType === 'Social Fund Type 1' else ''}}>Social Fund Type 1</option>
                            <option value="Social Fund Type 2" {{ 'selected' if handover.benSubType === 'Social Fund Type 2' else ''}}>Social Fund Type 2</option>
                            <option value="Social Fund Type 3" {{ 'selected' if handover.benSubType === 'Social Fund Type 3' else ''}}>Social Fund Type 3</option>
                            <option value="Social Fund Type 4" {{ 'selected' if handover.benSubType === 'Social Fund Type 4' else ''}}>Social Fund Type 4</option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="grid-row">
                    <div class="column-half">
                        <legend class="form-label-bold">Select a handover type</legend>
                        <select class="select form-control" name="handover-type" id="handover-type">
                            <option value="">Select</option>
                            {% for handoverType in handTypesList %}
                            <option value="{{ handoverType.id }}" {{ 'selected' if handover.typeId === handoverType.id else ''}}>{{ handoverType.handoverType }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="column-half">
                        <legend class="form-label-bold">Callback required ?</legend>
                        <select class="select form-control" name="callback-req" id="callback-req">
                            <option value="">Select</option>
                            <option value="Yes" {{ 'selected' if handover.callback === "Yes" else ''}}>Yes</option>
                            <option value="No" {{ 'selected' if handover.callback === "No" else ''}}>No</option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="grid-row">
                    <div class="column-half">
                        <legend class="form-label-bold">Select a handover reason</legend>
                        <select class="select form-control" name="handover-reason" id="handover-reason">
                            <option value="">Select</option>
                            {% for handoverReason in handReasonsList %}
                            <option value="{{ handoverReason.id }}" {{ 'selected' if  handover.reasonId === handoverReason.id else ''}}>{{ handoverReason.handoverReason }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="column-half">
                        <legend class="form-label-bold">Status</legend>
                        <select class="select form-control" name="handover-status" id=handover-status">
                            <option value="">Select</option>
                            <option value="Not allocated" {{ 'selected' if handover.status === "Not allocated" else ''}}>Not allocated</option>
                            <option value="In progress" {{ 'selected' if handover.status === "In progress" else ''}}>In progress</option>
                            <option value="Paused" {{ 'selected' if handover.status === "Paused" else ''}}>Paused</option>
                            <option value="Done" {{ 'selected' if handover.status === "Done" else ''}}>Done</option>
                            <option value="Withdrawn" {{ 'selected' if handover.status === "Withdrawn" else ''}}>Withdrawn</option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="grid-row">
                    <div class="column-full">
                        <legend class="form-label-bold">Notes</legend>
                        {% if editOrCreate === 'edit' %}
                            {% if handoverNotes %}
                                {% for note in handoverNotes %}
                                    <p>{{ note.noteContent }}</p>
                                    <p class="font-xsmall form-hint">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                        (added by {{ note.userWhoAddedNote.firstName }} {{ note.userWhoAddedNote.lastName }}
                                        on {{ note.dateNoteAdded.day }} {{ note.dateNoteAdded.month }} {{ note.dateNoteAdded.year }}
                                        at {{ note.dateNoteAdded.hours }}:{{ note.dateNoteAdded.mins }})</p>
                                {% endfor %}
                            {% else %}
                            <p>There are no notes for this handover yet</p>
                            {% endif %}
                        {% endif %}
                        <legend class="form-label-bold">Add a note</legend>
                        <textarea class="form-control" id="handover-note" name="handover-note"></textarea>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <input type="submit" class="button" value="Submit">
                </div>
            </div>
        </form>
    </div>
</main>

<script src="/public/javascripts/handovers.js"></script>

<script src="/public/javascripts/vendor/jquery-1.11.0.min.js"></script>

{% endblock %}