{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">
    <div class="main-content">
        {% include "includes/error-summary.html" %}
        {% include "includes/message-banner.html" %}
        <h1 class="heading-large">View handover for {{ customer.firstName }} {{ customer.lastName }}</h1>
        {% if handover.status !== 'Not allocated' %}
            <p class="form-hint">(currently being handled by {{ handover.inQueueOfStaffId }})</p>
        {% endif %}
        <form action="/handover/view" method="POST" class="form">
            <div class="form-group">
                <div class="grid-row">
                    <div class="column-half">
                        <legend class="form-label-bold">National insurance number</legend>
                        <div>
                            <p>{{ handover.nino }}</p>
                        </div>
                    </div>
                    <div class="column-half">
                        <legend class="form-label-bold">Customer's Jobcentre</legend>
                        <div>
                            <p>{{ customerOfficeDetails.officeName }}</p>
                        </div>
                    </div>
                </div>
                <br>
                <div class="grid-row">
                    <div class="column-half">
                        <legend class="form-label-bold">Handover raised by:</legend>
                        <div>
                            <p>{{ userWhoRaisedHandover.firstName }} {{ userWhoRaisedHandover.lastName }} in {{ userWhoRaisedHandover.officeDetails.officeName }} {{ userWhoRaisedHandover.officeDetails.officeType}}</p>
                        </div>
                    </div>
                    <div class="column-half">
                        <legend class="form-label-bold">Date and time raised</legend>
                        <p>Date: {{ handover.dateAndTimeRaisedForDisplay.day }} {{ handover.dateAndTimeRaisedForDisplay.month }} {{ handover.dateAndTimeRaisedForDisplay.year }}
                            &nbsp;&nbsp;&nbsp;&nbsp;Time: {{ handover.dateAndTimeRaisedForDisplay.hours }}:{{ handover.dateAndTimeRaisedForDisplay.mins }}</p>
                    </div>
                </div>

                <div class="grid-row">
                    <div class="column-half">
                        <legend class="form-label-bold">Receiving office</legend>
                        <p>{{ receivingOfficeDetails.officeName }} Jobcentre</p>
                    </div>
                    <div class="column-half">
                        <legend class="form-label-bold">Target callback time</legend>
                        {% if handover.callback === "No" %}
                        <p>No target date and time for this priority</p>
                        {% else %}
                        <p>Date: {{ handover.targetDateAndTimeForDisplay.day }} {{ handover.targetDateAndTimeForDisplay.month }} {{ handover.targetDateAndTimeForDisplay.year }}
                            &nbsp;&nbsp;&nbsp;&nbsp;Time: {{ handover.targetDateAndTimeForDisplay.hours }}:{{ handover.targetDateAndTimeForDisplay.mins }}</p>
                        {% endif %}
                    </div>
                </div>

                {% if handover.inQueueOfStaffId !== "" %}
                <div class="grid-row">
                    <div class="column-half">
                        <legend class="form-label-bold">Agent progressing handover</legend>
                        <p>{{ inQueueOfStaffDetails.firstName }} {{ inQueueOfStaffDetails.lastName }}</p>
                    </div>
                    <div class="column-half">
                    </div>
                </div>
                {% endif %}

                <div class="grid-row">
                    <div class="column-half">
                        <legend class="form-label-bold">Benefit</legend>
                        <p>{{ benefitName }}</p>
                    </div>
                    <div class="column-half">
                        {% if benefitName === "Social Fund [SF]" %}
                            <legend class="form-label-bold">Benefit sub-type</legend>
                                <p>{{ handover.benSubType }}</p>
                        {% else %}
                        <p></p>
                        {% endif %}
                    </div>
                </div>

                <div class="grid-row">
                    <div class="column-half">
                        <legend class="form-label-bold">Handover type</legend>
                        <p>{{ handoverType }}</p>
                    </div>

                    <div class="column-half">
                        <legend class="form-label-bold">Handover reason</legend>
                        <p>{{ handoverReason }}</p>
                    </div>
                </div>
                <div class="grid-row">
                    <div class="column-half">
                    </div>
                    <div class="column-half">
                    </div>
                </div>
                <div class="grid-row">
                    <div class="column-half">
                        <legend class="form-label-bold">Callback required ?</legend>
                        <p>{{ handover.callback }}</p>
                    </div>
                    <div class="column-half">
                        <legend class="form-label-bold">Status</legend>
                        <p>{{ handover.status }}</p>
                    </div>
                </div>
                <br>
                <div class="grid-row">
                    <div class="column-full">
                        <legend class="form-label-bold">Notes</legend>
                        {% if handoverNotesLength !== 0 %}
                            {% for note in handoverNotes %}
                                <p>{{ note.noteContent }}</p>
                                {% if note.updateResultedFromCustomerContactIndicator === 'Yes' %}
                                    <p class="font-xsmall form-hint">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Update resulted from contact with customer</p>
                                {% endif %}
                                <p class="font-xsmall form-hint">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                    (added by {{ note.userWhoAddedNote.firstName }} {{ note.userWhoAddedNote.lastName }}
                                      on {{ note.dateNoteAdded.day }} {{ note.dateNoteAdded.month }} {{ note.dateNoteAdded.year }}
                                      at {{ note.dateNoteAdded.hours }}:{{ note.dateNoteAdded.mins }})</p>
                            {% endfor %}
                        {% else %}
                            <p>There are no notes for this handover yet</p>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <div class="grid-row">
                        <input type="submit" class="button" value="Edit handover">
                    </div>
                </div>

                <div class="grid-row">
                    <div class="column-third">
                        <a href="../customer/edit?nino={{customer.nino}}">Edit customer</a>
                    </div>
                    <div class="column-third">
                        <a href="../queue/view?agentId={{handover.inQueueOfStaffId}}">Go to my queue</a>
                    </div>
                    <div class="column-third">
                        <a href="../queue/view?queueType=office">Go to office queue</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>

<script src="/public/javascripts/vendor/jquery-1.11.0.min.js"></script>

{% endblock %}