{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-xlarge">
        DCAMS Handovers Prototype
        <span class="heading-secondary">{{releaseVersion}}</span>
      </h1>{{ releaseVersion | log }}
      <p>
        Allows prototyping of service to raise and process handovers
      </p>

    </div>
  </div>

  <div class="grid-row">
    {% set groupLinksScreens = [{
    workTitle : 'Claimants',
    links: [{
    link : '/claimant/view', title : 'View claimant details'
    }, {
    link : '/claimant/find', title : 'Find claimant'
    }]
    }] %}

    {{ sprintLinks( 'Handovers Pages', groupLinksScreens) }}

    {% set groupLinksScreens = [{
    workTitle : 'Teams',
    links: [{
    link : '/team/user/add', title : 'Add user to team'
    }, {
    link : '/team/queue/add', title : 'Add queue to team'
    }]
    }] %}

    {{ sprintLinks( '', groupLinksScreens) }}

    {% set groupLinksScreens = [{
    workTitle : 'Handovers',
    links: [{
    link : '/handover/edit?nino=AA123456B', title : 'Create handover'
    },{
    link : '/handover/edit?id=1', title : 'Edit handover'
    }]
    }] %}

    {{ sprintLinks( '', groupLinksScreens) }}

  </div>

</main>

{% endblock %}


{% macro sprintLinks(sprintName, sprintWorkInfo) %}
<div class="column-third">
    {% if sprintName %}
      <h2 class="heading-medium">{{sprintName}}</h2>
    {% else %}
      <h2 class="heading-medium">&nbsp;</h2>
    {% endif %}

  {% for thisSprintWorkInfo in sprintWorkInfo %}
  <ul class="bullets">
    <h3 class="heading-small">{{thisSprintWorkInfo.workTitle}}</h3>
    {% for link in thisSprintWorkInfo.links %}
    <ul>
      <li><a href="{{link.link}}">{{link.title}}</a></li>
    </ul>
    {% endfor %}
  </ul>
  {% endfor %}
</div>
{% endmacro %}