{% extends "layout.html" %}

{% block content %}

{% include "includes/dummy_dcams_summary_nav.html" %}

<main id="content" role="main">
<div class="main-content">
  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-xlarge">
        DCAMS Handovers Prototype
        <span class="heading-secondary">{{releaseVersion}}</span>
      </h1>{{ releaseVersion | log }}
      <p>
        Allows prototyping of service to raise and process handovers
      </p>
    </div>
  </div>

  <div class="grid-row">
    {% set groupLinksScreens = [{
    workTitle : 'Customers',
    links: [{
    link : '/customer/find', title : 'Find customer'
    },{
    link : '/customer/view', title : 'View customer details'
    },{
    link : '/customer/summary', title : 'View summary details'
    },{
    link : '/customer/create?nino=MN121212P', title : 'Create new customer'
    },{
    link : '/customer/edit?nino=AA123456B', title : 'Edit customer details'
    }]
    }] %}

    {{ sprintLinks( 'Handovers Pages', groupLinksScreens) }}


    {% set groupLinksScreens = [{
    workTitle : 'Queues',
    links: [{
    link : '/queue/view?queueType=office', title : 'View office queue'
    },{
    link : '/queue/view?agentId=' + data.user.id, title : 'View my queue'
    }]
    }] %}

    {{ sprintLinks( '', groupLinksScreens) }}


    {% set groupLinksScreens = [{
    workTitle : 'Handovers',
    links: [{
    link : '/handover/create?nino=AA123456B', title : 'Create handover'
    },{
    link : '/handover/view?id=1', title : 'View handover'
    },{
    link : '/handover/edit?id=1', title : 'Edit handover'
    }]
    }] %}

    {{ sprintLinks( '', groupLinksScreens) }}
  </div>
  <div class="grid-row">
    {% set groupLinksScreens = [{
    workTitle : 'Teams',
    links: [{
    link : '/team_menu.html', title : 'Team management menu'
    },{
    link : '/team/user/add', title : 'Add agents to team'
    },{
    link : '/team/skillset/add', title : 'Add skillsets to team'
    },{
    link : '', title : 'Create new team [ Function not yet available ]'
    },{
    link : '', title : 'Edit team details [ Function not yet available ]'
    }]
    }] %}

    {{ sprintLinks( '', groupLinksScreens) }}

  </div>
</div>

</main>

{% endblock %}

{% macro sprintLinks(sprintName, sprintWorkInfo) %}
<div class="column-third">
    {% if sprintName %}
      <h2 class="heading-medium">{{sprintName}}</h2>
    {% else %}
      <h2 class="heading-medium">&nbsp;</h2>
    {% endif %}

  {% for thisSprintWorkInfo in sprintWorkInfo %}
  <ul class="bullets">
    <h3 class="heading-small">{{thisSprintWorkInfo.workTitle}}</h3>
    {% for link in thisSprintWorkInfo.links %}
    <ul>
      <li><a href="{{link.link}}">{{link.title}}</a></li>
    </ul>
    {% endfor %}
  </ul>
  {% endfor %}
</div>
{% endmacro %}