<p>{{cookieText | safe }}</p>
<div class="header-proposition">
  <div class="content">
    <nav id="proposition-menu">
      <a href="/"
         id="proposition-name">{# Set serviceName in config.js. Use a block to override on a page. #} {% block service_name %} {% if serviceName %} {{ serviceName }} {% endif %} {% endblock %}</a>
    </nav>
    <nav id="sign-out-menu">
      <ul>
        <li>
          <a class="bold-nav-link"
             href="/toggle_user_role">{{ data.user.firstName }} {{ data.user.lastName }}</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<ul>
  <li>
    <a href="/prototype-admin/clear-data">Clear data</a>
  </li>
</ul>
<!-- GOV.UK Prototype kit {{releaseVersion}} -->
