{% extends "handouts_template.html" %}

{% block page_title %}DCAMS Handovers Prototype{% endblock %}

{% block head %}
{% include "includes/head.html" %}
{% endblock %}

{% block cookie_message %}
<p>{{cookieText | safe }}</p>
{% endblock %}

{% block proposition_header %}


  <div class="content">
      <nav id="proposition-menu">

          <a href="/index" id="logo" class="content">
            {% block brand %}
            DCAMS Handovers 
            {% endblock %}
            <strong class="phase-tag">PROTOTYPE</strong></a>
      </nav>
    <!--  <nav id="proposition-menu">
      <a href="/" id="proposition-name">
      {# Set serviceName in config.js. Use a block to override on a page. #}
        {% block service_name %}
        {% if serviceName %} {{ serviceName }} {% endif %}
        {% endblock %}
      </a>
    </nav> -->
    <nav id="sign-out-menu">
      <ul>
        <li>

          <a class="bold-nav-link" href="/toggle_user_role">  {% if data['scenario'] === 'createCustomer' or data['scenario'] === 'customerUpdate'%}
          Alex Black
          {% elif data[ 'scenario']==='allocatorEdit'%}
          Jane Smith
          {% else %}
          Callum Dalton
          {% endif %}

          <!--{{ data.user.firstName }} {{ data.user.lastName }}--></a> |</li>
        <li>
          <a href="">  Set location  </a>|
        </li>
       <li>
              <a href="" class="availability">Available <span class="visually-hidden">Set your availability to not Available</span></a>
      </li>
      </ul>
    </nav>
  </div>


{% endblock %}

{% block header_class %}
with-proposition
{% endblock %}

{% block footer_support_links %}
{% if useAutoStoreData %}
<ul>
  <li>
    <a href="/prototype-admin/clear-data">Clear data</a>
  </li>
</ul>
{% endif %}
{% endblock %}

{% block body_end %}
{% block scripts %}
{% include "includes/scripts.html" %}
{% block page_scripts %}{% endblock %}
{% endblock %}
<!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}
