{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">
    <div class="main-content">
        {% include "includes/handovers_summary_nav.html" %}
        {% include "includes/error-summary.html" %}
        {% include "includes/message-banner.html" %}
        {% if queueType === "office" %}
            <h1 class="heading-large">Handovers queue - Sheffield Benefit Centre</h1>
        {% else %}
            <h1 class="heading-large">Handovers queue - {{ queueAgent.firstName }} {{ queueAgent.lastName }}</h1>
        {% endif %}

        <div class="grid-row">
            <div class="column-full">
                <table>
                    <thead>
                    <tr>
                        <th scope="col"><span>NI number</span></th>
                        <th scope="col"><span>Date/time raised</span></th>
                        <th scope="col"><span>Time left to clear</span></th>
                        <th scope="col"><span>Time since clearance due</span></th>
                        <th scope="col"><span>Benefit type</span></th>
                        <th scope="col"><span>Handover type</span></th>
                        <th scope="col"><span>Callback reqd?</span></th>
                        <th scope="col"><span>Status</span></th>
                        {% if queueType === "office" %}
                        <th scope="col"><span>Being progressed by</span></th>
                        {% endif %}
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for handover in handoversQueueList %}
                    <tr>
                        <td>{{handover.nino}}</td>
                        <td>{{handover.dateRaised}} {{handover.timeRaised}}</td>
                        {% if handover.timeLeftToTarget.expiredOrNot == 0 %}
                            <td>{{handover.timeLeftToTarget.timeToTarget}}</td>
                            <td></td>
                        {% else %}
                            <td>Expired</td>
                            <td>{{handover.timeLeftToTarget.timeToTarget}}</td>
                        {% endif %}
                        <td>{{handover.benefitAbbr}}</td>
                        <td>{{handover.handoverType}}</td>
                        <td>{{handover.callback}}</td>
                        <td>{{handover.status}}</td>
                        {% if queueType === "office" %}
                            <td>{{ handover.inQueueOfStaffDetails.firstName }} {{ handover.inQueueOfStaffDetails.lastName }}</td>
                        {% endif %}
                        <td>{{handoverUpdateLink(handover)}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        {% if queueType === "agent" %}
        <div class="grid-row">
            <div class="column-full">
                <form action="/queue/getNextQueueItem" method="POST" class="form">
                    <div class="form-group">
                        <input type="submit" class="button" value="Fetch next work item">
                    </div>
                </form>
                <br>
                <div>
                    <a href="../queue/view?queueType=office">Go to office queue</a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</main>

<script src="/public/javascripts/vendor/jquery-1.11.3.js"></script>
<script src="/public/javascripts/vendor/datatables.min.js"></script>

<script>
    $('table').DataTable({
        paging: false,
        info: false,
        filter: false,
        order: [[ 2, "desc" ], [3, "desc"]],
    })
</script>

{% endblock %}

{% macro handoverUpdateLink(handover) %}
{% set queryString = '?id=' + handover.id %}
<a href="/handover/edit{{queryString}}">View</a>
{% endmacro %}