{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">
    <div class="main-content">
        {% include "includes/handovers_summary_nav.html" %}
        {% include "includes/error-summary.html" %}
        {% include "includes/message-banner.html" %}
            <h1 class="heading-large">Handovers queue - Sheffield Benefit Centre</h1>

        <div class="grid-row">
            <div class="column-full">
                <table>
                    <thead>
                        <tr>
                            <th scope="col"><span>Description</span></th>
                            <th scope="col"><span>Name & NINO</span></th>
                            <th scope="col"><span>Date/time raised</span></th>
                            <th scope="col"><span>Agent</span></th>
                            <th scope="col"><span>Time left to clear</span></th>
                            <th></th>
                            <th scope="col"><span>Handover type</span></th>
                            <th scope="col"><span>Handover Status</span></th>
                            <th scope="col"><span>Callback status</span></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>

                    <tr role="row">
                        <td><p>Initial information input when the handover was created</p></td>
                        <td><p class="font-small"><a href="/customer/summary">Adam Brown</a><br><span class="form-hint">AA123456B</span></p></td>
                        <td><p class="font-small">8 February 2018<br><span class="form-hint"> 8:01</span></p></td>
                        <td><p class="font-small"><a href="queue/view?agentId=40001003">Imogen Johnson</a><span class="form-hint">Unavailable</span></p></td>
                        <td><p class="font-small">Expired<br><span class="urgent">ESCALATED</span></p></td>
                        <td><p class="hidden">1</p></td>
                        <td><p class="font-small">Claim closure</p></td>
                        <td><p class="font-small">Paused</p></td>
                        <td><p class="font-small">First call pending</p></td>
                        <td>
                            <p class="font-small"><a href="/handover/edit?id=1">Update</a></p>
                        </td>
                    </tr>
                    <tr role="row">
                            <td><p>Initial information input when the handover was created</p></td>
                        <td><p class="font-small"><a href="/customer/summary">Ian Jackson</a><br><span class="form-hint">AA345678B</span></p></td>
                        <td><p class="font-small">15 February 2018 <span class="form-hint">13:08</span></p></td>
                        <td><p class="font-small"><a href="queue/view?agentId=40001003">Grant Hopper</a></p></td>
                        <td><p class="font-small">1 hr 10 mins</p></td>
                        <td><p class="hidden">7</p></td>
                        <td><p class="font-small">Claim closure</p></td>
                        <td><p class="font-small">In progress</p></td>
                        <td><p class="font-small">Not requested</p></td>
                        <td>
                                <p class="font-small"><a href="/handover/edit?id=8">Update</a></p>
                        </td>
                    </tr></tbody>
                </table>
            </div>
        </div>
<br><br><br><br>
<div class="grid-row">
        <div class="column-full">
            <table>
                <thead>
                    <tr>
                        <th scope="col"><span>Description</span></th>
                        <th scope="col"><span>Name & NINO</span></th>
                        <th scope="col"><span>Date/time raised</span></th>
                        <th scope="col"><span>Agent</span></th>
                        <th scope="col"><span>Time left to clear</span></th>
                        <th></th>
                        <th scope="col"><span>Handover type</span></th>
                        <th scope="col"><span>Handover Status</span></th>
                        <th scope="col"><span>Callback status</span></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                <tr role="row">
                    <td>
                            <details>
                                    <summary><span class="summary">Handover description</span></summary>                                
                                    <div class="panel panel-border-narrow">                             
                                      <p>
                                            Initial information input when the handover was created
                                      </p>
                                    </div>           
                             </details>
                    </td>
                    <td><p class="font-small"><a href="/customer/summary">Adam Brown</a><br><span class="form-hint">AA123456B</span></p></td>
                    <td><p class="font-small">8 February 2018<br><span class="form-hint"> 8:01</span></p></td>
                    <td><p class="font-small"><a href="queue/view?agentId=40001003">Imogen Johnson</a><span class="form-hint">Unavailable</span></p></td>
                    <td><p class="font-small">Expired<br><span class="urgent">ESCALATED</span></p></td>
                    <td><p class="hidden">1</p></td>
                    <td><p class="font-small">Claim closure</p></td>
                    <td><p class="font-small">Paused</p></td>
                    <td><p class="font-small">First call pending</p></td>
                    <td>
                        <p class="font-small"><a href="/handover/edit?id=1">Update</a></p>
                    </td>
                </tr>
                <tr role="row">
                    <td><p>    
                        <details>
                            <summary><span class="summary">Handover description</span></summary>                                
                            <div class="panel panel-border-narrow">                             
                              <p>
                                    Initial information input when the handover was created
                              </p>
                            </div>           
                     </details></p>
                    </td>
                    <td><p class="font-small"><a href="/customer/summary">Ian Jackson</a><br><span class="form-hint">AA345678B</span></p></td>
                    <td><p class="font-small">15 February 2018 <span class="form-hint">13:08</span></p></td>
                    <td><p class="font-small"><a href="queue/view?agentId=40001003">Grant Hopper</a></p></td>
                    <td><p class="font-small">1 hr 10 mins</p></td>
                    <td><p class="hidden">7</p></td>
                    <td><p class="font-small">Claim closure</p></td>
                    <td><p class="font-small">In progress</p></td>
                    <td><p class="font-small">Not requested</p></td>
                    <td>
                    <p class="font-small"><a href="/handover/edit?id=8">Update</a></p>
                    </td>
                </tr></tbody>
            </table>
        </div>
    </div>
        <br>

            <div>
                <a href="../queue/view?queueType=office">Go to office queue</a>
            </div>

                </div>
            </div>
    </div>
</main>

<script src="/public/javascripts/vendor/jquery-1.11.3.js"></script>
<script src="/public/javascripts/vendor/datatables.min.js"></script>

<script>
    $('table').DataTable({
        paging: false,
        info: false,
        filter: false,
        order: [[ 5, "asc" ]]
    })
</script>

{% endblock %}

{% macro handoverUpdateLink(handover) %}
{% set queryString = '?id=' + handover.id %}
<a href="/handover/edit{{queryString}}">Update</a>
{% endmacro %}