{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">
    <div class="main-content">
        {% include "includes/handovers_summary_nav.html" %}
        {% include "includes/error-summary.html" %}
        {% include "includes/message-banner.html" %}
        <h1 class="heading-large">Add skillset to {{ team.teamName }} team</h1>
        <br>
        <form action="/team/queue/add" method="post" class="form" id="team-queue-add-form">
            <div class="form-group grid-row">
                <div class="column-full">
                    <legend class="form-label-bold">Existing queues</legend>
                    <table>
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for existingQueue in team.queueList %}
                            <tr>
                                <td>{{ existingQueue.name }}</td>
                                <td>{{ existingQueue.description}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="form-group">
                <fieldset class="inline">
                    <legend class="form-label-bold">Select a skillset to add to the {{ team.teamName }} team</legend>
                    <select class="select form-control" name="selected-queue" id="selected-queue">
                        <option value="">Select</option>
                        {% for availableQueue in availableQueues %}
                            <option value="{{ availableQueue.id}}">{{ availableQueue.name }}</option>
                        {% endfor %}
                    </select>
                </fieldset>
            </div>

            <div class="form-group grid-row">
                <div class="column-full">
                    <input class="button" type="submit"></input>
                </div>
            </div>
        </form>
        <div class="column-third">
            <a href="/team_menu.html"/>Back to team menu</a>
        </div>
    </div>
</main>

<script src="/public/javascripts/vendor/jquery-1.11.0.min.js"></script>

{% endblock %}
