// Stuff that we are ashamed off
// For example any overrides to the GOVUK default styles should be placed in here
// This should give us a cleaner upgrade path
i.fa-exclamation-circle{
  color: $mellow-red;
}

// mark the passed indicator on the office performance page as red
.search_string .passed, tr .passed {
    color: $red;
}

input#initial  {
  width: 10%;
}

#content {
  max-width: 100%;
  margin: 0;
}

.main-content {
  padding:0 em(40);
}

.form-group-area{
  width: 40%;
}

.form-group-local{
  width: 25%;
}

// Make the new radio and checkboxes grey when disabled
.block-label.disabled {
  color: $grey-1;
}

.button-secondary{
  @include button($grey-3);
}

caption {
  text-align: left;
}


.column-three-quarters {
  @include grid-column( 3/4 );
}

.highlight-table-row {
  background-color : $mellow-red-50;
}

.badge {
  display: inline-block;
  padding:7px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  color: #fff;
  background-color: #6c757d;
  text-transform:uppercase;

  &.badge-success {
    color: #fff;
    background-color: #28a745;
}

  &.badge-danger {
  color: #fff;
  background-color: #dc3545;
  }

  &.badge-info {
  color: #fff;
  background-color: #17a2b8;
  }

  &.badge-warning {
  color: #212529;
  background-color: #ffc107;
  }

  &.badge-light {
    color: #212529;
    background-color: #f8f9fa;
  }

  &.badge-dark {
    color: #fff;
    background-color: #343a40;
}

}




.secondary-color{
  color:$secondary-text-colour
}




  .w100{
    width:100%;
  }


// https://home-office-digital-patterns.herokuapp.com/components/status extended it to meet handover's needs
  .status {
    background-color: $govuk-blue;
    color: $white;
    margin-bottom:30px;

    .status__body{
      padding:15px 0;
      display:flex;
      flex-direction: row;
      flex-wrap: wrap;
      
    }

    .status__header{
      padding:15px;
      background-color: darken($govuk-blue, 10%);
      p, h3 {
        display:inline;
      }
    }

  
    p {
      font-weight: 700;
    }
  
    .status-extra {
      font-weight: normal;
    }

    .col{
      padding:0 15px;
    }


   @media screen and (min-width:640px){
    .col {
      border-right:1px solid rgba(#fff, 0.2);
      flex:1;

      &:last-of-type{
        border:none;
      }

    }
  }

    .badge-danger {
      color: #dc3545;
      background-color: #fff;
      
      }
  }
  
  @include media(tablet) {
    .status .status__body {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
  
      p {
        margin: 0;
      }
  
      .status-extra {
        font-size: 18px;
      }
    }
  }

  .button.text {
    background: none;
    border-color: #fff;
    color: #005ea5;
    text-decoration: underline;
    box-shadow: none;
}

.panel.alt{
  border-color:#FFBF47;
  background:lighten(#FFBF47,30%);

  p.icon{
    margin-top:10px;
    .icon{
      float:left;
      margin:-9px 10px 0 0;
    }
  }
}

