// Stuff that we are ashamed off
// For example any overrides to the GOVUK default styles should be placed in here
// This should give us a cleaner upgrade path
i.fa-exclamation-circle{
  color: $mellow-red;
}

// mark the passed indicator on the office performance page as red
.search_string .passed, tr .passed {
    color: $red;
}

input#initial  {
  width: 10%;
}

#content {
  max-width: 100%;
  margin: 0;
}

.main-content {
  padding:0 em(40);
}

.form-group-area{
  width: 40%;
}

.form-group-local{
  width: 25%;
}

// Make the new radio and checkboxes grey when disabled
.block-label.disabled {
  color: $grey-1;
}

.button-secondary{
  @include button($grey-3);
}

caption {
  text-align: left;
}


.column-three-quarters {
  @include grid-column( 3/4 );
}

.highlight-table-row {
  background-color : $mellow-red-50;
}

.badge {
  display: inline-block;
  padding: .25em .4em;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  color: #fff;
  background-color: #6c757d;

  &.badge-success {
    color: #fff;
    background-color: #28a745;
}

  &.badge-danger {
  color: #fff;
  background-color: #dc3545;
  }

  &.badge-info {
  color: #fff;
  background-color: #17a2b8;
  }

  &.badge-warning {
  color: #212529;
  background-color: #ffc107;
  }

  &.badge-light {
    color: #212529;
    background-color: #f8f9fa;
  }

  &.badge-dark {
    color: #fff;
    background-color: #343a40;
}

}

.mt-0{
  margin-top:0px;
}

.panel-alt{
  border-left:none;
  background:darken($grey-4, 5%);
}

.hint{
  color: #6f777b;
}
