// Stuff that we are ashamed off
// For example any overrides to the GOVUK default styles should be placed in here
// This should give us a cleaner upgrade path
i.fa-exclamation-circle{
  color: $mellow-red;
}

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

// mark the passed indicator on the office performance page as red
.search_string .passed, tr .passed {
    color: $red;
}

input#initial  {
  width: 10%;
}

#content {
  max-width:100%;
  margin: 0 auto;
}

.main-content {
  padding:0 em(40);
}

.form-group-area{
  width: 40%;
}

.form-group-local{
  width: 25%;
}

// Make the new radio and checkboxes grey when disabled
.block-label.disabled {
  color: $grey-1;
}

.button-secondary{
  @include button($grey-3);
}

caption {
  text-align: left;
}


.column-three-quarters {
  @include grid-column( 3/4 );
}

.highlight-table-row {
  background-color : $mellow-red-50;
}

.badge {
  display: inline-block;
  padding:7px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  color: #fff;
  background-color: #6c757d;
  text-transform:uppercase;

  &.badge-success {
    color: #fff;
    background-color: #28a745;
}

  &.badge-danger {
  color: #fff;
  background-color: #dc3545;
  }

  &.badge-info {
  color: #fff;
  background-color: #17a2b8;
  }

  &.badge-warning {
  color: #212529;
  background-color: #ffc107;
  }

  &.badge-light {
    color: #212529;
    background-color: #f8f9fa;
  }

  &.badge-dark {
    color: #fff;
    background-color: #343a40;
}

}




.secondary-color{
  color:$secondary-text-colour
}




  .w100{
    width:100%;
  }


// https://home-office-digital-patterns.herokuapp.com/components/status extended it to meet handover's needs
.status {

 
  background-color: $govuk-blue;
  color: $white;
  margin-bottom:30px;

  &.alt{
    background-color:$grey-4;
    color: $text-colour;
    margin-top:30px;
    //border: 1px solid $border-colour;
    border-left:10px solid $light-blue;
    margin-bottom:0px ;

    .badge-danger {
      color: #fff;
      background-color: $red;
      
      }

      @media screen and (min-width:640px){
        .col {
          border-right:1px solid $border-colour;
          flex:1;
      
          &:last-of-type{
            border:none;
          }
      
        }
      }
  }

  .status__body{
    padding:15px 0;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    
  }

  .status__header{
    padding:15px;
    background-color: darken($govuk-blue, 10%);
    p, h3 {
      display:inline;
    }
  }


  p {
    font-weight: 700;
  }

  .status-extra {
    font-weight: normal;
  }

  .col{
    padding:0 15px;
  }


 @media screen and (min-width:640px){
  .col {
    border-right:1px solid rgba(#fff, 0.2);
    flex:1;

    &:last-of-type{
      border:none;
    }

  }
}

  .badge-danger {
    color: #dc3545;
    background-color: #fff;
    
    }
}

@include media(tablet) {
  .status .status__body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    p {
      margin: 0;
    }

    .status-extra {
      font-size: 18px;
    }
  }
}

  .button.text {
    background: none;
    border-color: #fff;
    color: #005ea5;
    text-decoration: underline;
    box-shadow: none;
}


.panel.warning{
  border:5px solid orange;
  //background:lighten(#FFBF47,30%);
  padding:25px;
  p.icon{
    margin-top:10px;
    .icon{
      float:left;
      margin:-9px 10px 0 0;
    }
  }
}

.panel.alt{

  border-bottom: 1px solid $border-colour;
  background:#f9f9f9;
  border-left:10px solid $border-colour;

&.default{
  border-left:10px solid $light-blue;
}

&.success{
  border-left:10px solid $green;
}

&.danger{
  border-left:10px solid $mellow-red;
} 
&.warning{
  border-left:10px solid orange;
  border-top:none;
  border-right:none;
  }
}


table td {
  font-size:18px;
}


.case-header-container {
  background-color: $govuk-blue;
  color: $white;
  font-size:20px;
  

  &.alt{

    p {
      font-weight:normal;
      font-size:19px;
      margin:0px;
    } 

  li{
     width:33%;
     padding:0 15px 0 0;
     border-right:none;

    }
  }

 ul 
 {
  padding-top:15px;
  border-top:1px solid rgba(#fff, 0.2);

  &:after {
    content: '';
    display: table;
    clear: both;
    }
  
 
 li{
   float: left;
   width:25%;
   padding:0 30px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   border-right:1px solid rgba(#fff, 0.2);

   @media screen and (max-width:768px){
     width:50%;
     border-right:none;
     margin-bottom:15px;


     &:nth-child(odd){
      padding-left:0px;
      clear:left;
      border-right:1px solid rgba(#fff, 0.2);
     }


   }

   @media screen and (max-width:640px){
    width:100%;
    border-right:none;
    padding:10px 0;
    border-bottom:1px solid rgba(#fff, 0.2);

    &:first-of-type{
      padding-top:0px;
    }

    &:nth-child(odd){
      border-right:none;
     }
     h3, p{
       display:inline;
     }
  }

   &:last-of-type{
     border:none;
   }

   &:first-of-type{
    padding-left:0px;
   }
 }

}


  .case-header, .case-body, .case-footer{
    padding:20px 2.10526em 15px ;
  }
 .case-body{
    padding-top:0px;
    //background-color: darken($govuk-blue, 5%);
  }

  .case-footer{
    background-color: darken($govuk-blue, 5%);

    h3, p{
      display:inline;
    }
  }



  .heading-secondary, a{
    color:#fff;
  }

  p {
    font-weight: bold;
    font-size:22px;
    margin:0px;
  }



  details 
  {
  ul{
    border-top:none;
  }
    
  summary{
    color:#fff;
    margin-top:15px;

   // &:before {
   //   font-family: FontAwesome;
  //    content: '\F055';
   //   font-size: 22px;
  //  }
  }
}

}

.availability{
  border:1px solid #555;
  //background:#666;
  padding:5px 35px 5px 10px;
  //border-radius:20px;
  position:relative;
   
  &:after{
    content:'';
    background:$button-colour;
    width: 15px;
    height:15px;
    border-radius:50%;
    position: absolute;
    right:9px;
    top:8px;
  }

  &.warning:after{
    background:$error-colour;
  }
 

}







  
