.tabs > ol, .tabs > ul {
  @extend %contain-floats;
  list-style: none;
  margin: 0;
  padding: 30px 0 0 0;

  @include media(tablet) {
    margin: 0;
    border-top: 0;
    border-bottom: 1px solid $border-colour;
  }
}

.tabs > ul li, .tabs > ol li {
  margin: 0;

  margin: 5px 0 0px 0;


  @include media(tablet) {
    float: left;
    margin: 0 5px 0 0px;

  }
}

.tabs > ul li a, .tabs > ol li a {
  display: block;
  line-height: 3.5em;
  padding: 0 16px;
  text-align: left;
  font-weight:bold;
  text-decoration:none;
  color:#2b8cc4;
  border: 1px solid $border-colour;

  
  


  &:hover {
    background-color: $highlight-colour;
  }

  @include media(tablet) {
    border: solid 1px $border-colour;
    float: left;
    height: 2.8em;
    line-height: 2.8em;
    margin-bottom: -1px;
    padding: 0 20px;

  }
}

.tabs > ul li.active a, .tabs > ol li.active a {
  background-color: $white;
  color: $text-colour;
  text-decoration: none;
  pointer-events: none;
  cursor: default;

  &:hover {
    color: inherit;
  }

  @include media(tablet) {
    border: solid 1px $border-colour;
    border-bottom: none;
    padding-bottom: 1px;
  }
}



@import 'colours';
@import 'shims';
@import 'typography';
@import 'elements/helpers';

.tabs {
  margin-bottom: 1.05263em; // 20px
}

// Tab content
.tabs-content {
  clear: both;

  [role='tabpanel'] {
    @include media(tablet) {
      border-top: 1px solid $grey-2;
    }

    .tabs-panel-inner {
      margin-top: 60px;
    }
  }

  [aria-hidden='true'] {
    display: none;
  }
}

// Tab panel inner
.tabs-panel-inner {
  &:focus {
    border: 0;
    outline: 0;
  }
}

// Tab list
.tabs-list[role='tablist'] {
  border-top: 1px solid $grey-2;
  margin: 0;

  @include media(tablet) {
    border-top: 0 none;
  }

  li {
    @include core-19;
    border-bottom: 1px solid $grey-2;
    margin: 0;

    @include media(tablet) {
      border-bottom: 0 none;
      float: left;
      margin: 0 0 -1px;
      padding: 0;
    }

    a {
      background-color: $white;
      display: block;
      padding: em(9);

      @include media(tablet) {
        border: 0 none;
        float: left;
        margin: em(5) em(5) em(5) 0;
        padding: em(9) em(19);
        text-align: center;
      }
    }

    // Active tab
    [aria-selected='true'] {
      background-color: $white;
      color: $text-colour;
      cursor: default;
      text-decoration: none;

      @include media(tablet) {
        border: 1px solid $grey-2;
        border-bottom: 1px solid transparent;
        margin-bottom: 0;
        margin-top: 0;
        padding: em(13) em(18) em(14);
      }
    }

    // Inactive tabs
    [aria-selected='false']:hover {
      background-color: $highlight-colour;
    }
  }
}
